Repository dotnet/docs-aspire, pull requests merged in 2023-12, with the labels that each got.

#152 Fix typos and grammar in k8s deployment documentation
  docs/deployment/k8s-deployment.md
Labels: deployment

#155 Remove AddDatabase from Cosmos DB resource.
  docs/database/azure-cosmos-db-component.md
Labels: database

#208 Setup and tooling fixes (2nd PR)
  docs/fundamentals/media/dashboard/projects.png
  docs/fundamentals/setup-tooling.md
  docs/media/add-orchestrator-app.png
Labels: fundamentals

#223 Explicit handling of no commits
  .github/workflows/merge-main-to-live.yml
Labels: ⚙️ repo-maintenance

#220 Remove Aspirate content
  .openpublishing.redirection.json
  docs/deployment/k8s-deployment.md
  docs/index.yml
  docs/toc.yml
Labels: deployment

#224 Dashboard overview updated for preview 2
  docs/fundamentals/dashboard.md
  docs/fundamentals/media/dashboard/container-logs.png
  docs/fundamentals/media/dashboard/metrics-view.png
  docs/fundamentals/media/dashboard/project-logs-error.png
  docs/fundamentals/media/dashboard/project-logs.png
  docs/fundamentals/media/dashboard/projects-errors.png
  docs/fundamentals/media/dashboard/resources-filtered-containers.png
  docs/fundamentals/media/dashboard/select-resource-type.png
  docs/fundamentals/media/dashboard/structured-logs-errors-view.png
  docs/fundamentals/media/dashboard/structured-logs-errors.png
  docs/fundamentals/media/dashboard/structured-logs-filtered.png
  docs/fundamentals/media/dashboard/structured-logs-trace-errors.png
  docs/fundamentals/media/dashboard/structured-logs.png
  docs/fundamentals/media/dashboard/theme-selection-light.png
  docs/fundamentals/media/dashboard/theme-selection.png
  docs/fundamentals/media/dashboard/trace-view-errors.png
  docs/fundamentals/media/dashboard/trace-view-filter.png
  docs/fundamentals/media/dashboard/trace.png
  docs/fundamentals/media/dashboard/traces-errors.png
  docs/fundamentals/media/dashboard/traces.png
Labels: preview-2, fundamentals

#246 Add what's new links
  docs/whats-new/index.yml
Labels: preview-2

#248 Add TOC entry
  docs/whats-new/toc.yml
Labels: preview-2

#218 Adding new component bits
  docs/caching/stackexchange-redis-component.md
  docs/caching/stackexchange-redis-distributed-caching-component.md
  docs/caching/stackexchange-redis-output-caching-component.md
  docs/database/azure-cosmos-db-component.md
  docs/database/azure-cosmos-db-entity-framework-component.md
  docs/database/mongodb-component.md
  docs/database/mysql-component.md
  docs/database/postgresql-component.md
  docs/database/postgresql-entity-framework-component.md
  docs/database/sql-server-component.md
  docs/database/sql-server-entity-framework-component.md
  docs/fundamentals/app-host-overview.md
  docs/fundamentals/components-overview.md
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.ServiceDefaults/AspireSample.ServiceDefaults.csproj
  docs/index.yml
  docs/messaging/azure-service-bus-component.md
  docs/messaging/rabbitmq-client-component.md
  docs/security/azure-security-key-vault-component.md
  docs/storage/azure-storage-blobs-component.md
  docs/storage/azure-storage-components.md
  docs/storage/azure-storage-queues-component.md
  docs/storage/azure-storage-tables-component.md
  docs/toc.yml
  docs/whats-new/index.yml
Labels: storage, database, messaging, caching, security, getting-started, fundamentals

#221 Manifest and resources
  docs/deployment/manifest-format.md
Labels: deployment

#250 Fix broken component table
  docs/fundamentals/components-overview.md
Labels: fundamentals

#266 Bump version
  docs/database/snippets/tutorial/aspiresqlefcore/AspireSQLEFCore.AppHost/AspireSQLEFCore.AppHost.csproj
  docs/database/snippets/tutorial/aspiresqlefcore/AspireSQLEFCore/AspireSQLEFCore.csproj
  docs/fundamentals/snippets/components/AspireApp/AspireApp.AppHost/AspireApp.AppHost.csproj
  docs/fundamentals/snippets/template/YourAppName/YourAppName.ServiceDefaults.csproj
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.AppHost/AspireSample.AppHost.csproj
  docs/storage/snippets/tutorial/AspireStorage/AspireStorage.AppHost/AspireStorage.AppHost.csproj
Labels: storage, database, getting-started, fundamentals
