Repository dotnet/docs-aspire, pull requests merged in 2024-05, with the labels that each got.

#796 Add docs about dashboard in-memory telemetry limitations
  docs/fundamentals/dashboard/standalone.md
Labels: fundamentals

#804 Update standalone.md
  docs/fundamentals/dashboard/standalone.md
Labels: fundamentals

#819 Modify blurb about advanced filter dialog
  docs/fundamentals/dashboard/explore.md
Labels: fundamentals

#816 Fix #810
  docs/fundamentals/dashboard/explore.md
Labels: fundamentals

#824 Fix ".NET" usage in Azure AI Search page
  docs/azureai/azureai-search-document-component.md
Labels: general-availability

#825 Add components entry for Azure Search Documents
  docs/fundamentals/components-overview.md
Labels: fundamentals, general-availability

#832 Fix PostgreSQL typo in persist-data-volumes.md
  docs/fundamentals/persist-data-volumes.md
Labels: fundamentals

#828 Minor casing fix
  docs/deployment/overview.md
Labels: deployment

#841 typo
  docs/get-started/aspire-overview.md
Labels: getting-started

#839 Edit pass on deployment doc
  docs/deployment/overview.md
Labels: deployment

#846 Update code samples to reflect API changes in preview-7
  docs/azureai/azureai-openai-component.md
  docs/azureai/azureai-search-document-component.md
  docs/caching/stackexchange-redis-component.md
  docs/caching/stackexchange-redis-distributed-caching-component.md
  docs/caching/stackexchange-redis-output-caching-component.md
  docs/database/azure-cosmos-db-component.md
  docs/database/azure-cosmos-db-entity-framework-component.md
  docs/database/mongodb-component.md
  docs/database/mysql-component.md
  docs/database/mysql-entity-framework-component.md
  docs/database/oracle-entity-framework-component.md
  docs/database/postgresql-component.md
  docs/database/postgresql-entity-framework-component.md
  docs/database/sql-server-component.md
  docs/database/sql-server-entity-framework-component.md
  docs/fundamentals/components-overview.md
  docs/fundamentals/health-checks.md
  docs/logging/seq-component.md
  docs/messaging/azure-event-hubs-component.md
  docs/messaging/azure-service-bus-component.md
  docs/messaging/kafka-component.md
  docs/messaging/nats-component.md
  docs/messaging/rabbitmq-client-component.md
  docs/security/azure-security-key-vault-component.md
  docs/storage/azure-storage-blobs-component.md
  docs/storage/azure-storage-queues-component.md
  docs/storage/azure-storage-tables-component.md
Labels: storage, database, messaging, caching, security, fundamentals

#843 Update Database Clarity
  docs/database/azure-cosmos-db-component.md
  docs/database/azure-cosmos-db-entity-framework-component.md
  docs/database/mongodb-component.md
  docs/database/mysql-component.md
  docs/database/mysql-entity-framework-component.md
  docs/database/oracle-entity-framework-component.md
  docs/database/postgresql-component.md
  docs/database/postgresql-entity-framework-component.md
  docs/database/sql-server-component.md
  docs/database/sql-server-entity-framework-component.md
Labels: database

#827 deployment refactoring
  docs/deployment/azure/aca-deployment-visual-studio.md
  docs/deployment/azure/aca-deployment.md
  docs/deployment/azure/includes/aca-deployment-azd.md
  docs/deployment/azure/includes/aca-deployment-bicep.md
  docs/deployment/azure/includes/aca-deployment-cli.md
  docs/deployment/azure/includes/aca-deployment-vs.md
  docs/deployment/azure/includes/test-deployed-app.md
  docs/toc.yml
Labels: deployment

#864 Fix dashboard login verbiage
  docs/fundamentals/dashboard/explore.md
Labels: fundamentals

#840 Use Orleans with .NET Aspire
  docs/frameworks/orleans.md
  docs/frameworks/snippets/Orleans/OrleansAppHost/OrleansAppHost.csproj
  docs/frameworks/snippets/Orleans/OrleansAppHost/Program.cs
  docs/frameworks/snippets/Orleans/OrleansAppHost/Properties/launchSettings.json
  docs/frameworks/snippets/Orleans/OrleansAppHost/appsettings.json
  docs/frameworks/snippets/Orleans/OrleansAppHost/aspire-manifest.json
  docs/frameworks/snippets/Orleans/OrleansAppHost/storage.module.bicep
  docs/frameworks/snippets/Orleans/OrleansClient/OrleansClient.csproj
  docs/frameworks/snippets/Orleans/OrleansClient/Program.cs
  docs/frameworks/snippets/Orleans/OrleansClient/Properties/launchSettings.json
  docs/frameworks/snippets/Orleans/OrleansClient/appsettings.json
  docs/frameworks/snippets/Orleans/OrleansClient/wwwroot/index.html
  docs/frameworks/snippets/Orleans/OrleansClientServer.sln
  docs/frameworks/snippets/Orleans/OrleansContracts/ICounterGrain.cs
  docs/frameworks/snippets/Orleans/OrleansContracts/OrleansContracts.csproj
  docs/frameworks/snippets/Orleans/OrleansServer/OrleansServer.csproj
  docs/frameworks/snippets/Orleans/OrleansServer/Program.cs
  docs/frameworks/snippets/Orleans/OrleansServer/Properties/launchSettings.json
  docs/frameworks/snippets/Orleans/OrleansServer/appsettings.json
  docs/frameworks/snippets/Orleans/OrleansServiceDefaults/Extensions.cs
  docs/frameworks/snippets/Orleans/OrleansServiceDefaults/OrleansServiceDefaults.csproj
  docs/index.yml
  docs/toc.yml
Labels: fundamentals

#871 Deployment fixes
  docs/deployment/azure/aca-deployment-azd-in-depth.md
  docs/deployment/azure/aca-deployment-visual-studio.md
  docs/deployment/azure/aca-deployment.md
  docs/deployment/azure/includes/azd-dashboard.md
  docs/deployment/azure/includes/azd-up-output.md
  docs/deployment/azure/includes/init-workflow.md
  docs/deployment/azure/media/visual-studio-delete-environment.png
  docs/includes/clean-up-resources-visual-studio.md
Labels: deployment

#875 Caching tutorial fixes
  docs/caching/caching-components.md
Labels: caching

#838 New migrations doc
  .openpublishing.publish.config.json
  docs/database/ef-core-migrations.md
  docs/database/media/ef-core-migrations/dashboard-post-migration.png
  docs/index.yml
  docs/toc.yml
Labels: database

#884 Update build-your-first-aspire-app.md to highlight the correct line
  docs/get-started/build-your-first-aspire-app.md
Labels: getting-started

#870 Address all issues in #720
  docs/fundamentals/components-overview.md
  docs/fundamentals/dashboard/standalone.md
  docs/get-started/build-your-first-aspire-app.md
  docs/get-started/media/aspire-dashboard-trace.png
  docs/get-started/media/aspire-dashboard-webfrontend.png
  docs/get-started/media/aspire-dashboard.png
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.ApiService/AspireSample.ApiService.csproj
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.ApiService/Program.cs
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.ApiService/Properties/launchSettings.json
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.AppHost/AspireSample.AppHost.csproj
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.AppHost/Program.cs
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.AppHost/Properties/launchSettings.json
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.AppHost/appsettings.json
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.ServiceDefaults/AspireSample.ServiceDefaults.csproj
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.ServiceDefaults/Extensions.cs
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.Web/AspireSample.Web.csproj
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.Web/Components/Layout/MainLayout.razor
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.Web/Components/Layout/NavMenu.razor
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.Web/Program.cs
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.Web/Properties/launchSettings.json
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.Web/WeatherApiClient.cs
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.Web/wwwroot/app.css
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.sln
  docs/includes/aspire-prereqs.md
Labels: getting-started, fundamentals

#883 adding deployment steps to .NET Aspire + Redis to Azure
  docs/caching/caching-components-deployment.md
  docs/caching/media/resources-azure-redis-container.png
  docs/caching/media/resources-azure-redis.png
  docs/toc.yml
Labels: caching

#893 Fix screen capture and TS file ref.
  docs/get-started/build-aspire-apps-with-nodejs.md
  docs/get-started/media/aspire-dashboard-with-nodejs.png
Labels: getting-started

#892 Delete old image, use latest
  docs/fundamentals/media/setup-tooling/projects.png
  docs/fundamentals/setup-tooling.md
Labels: fundamentals

#901 fix deployment yaml
  docs/deployment/azure/aca-deployment-github-actions.md
Labels: deployment

#930 Updated init steps and up workflow
  docs/database/sql-server-component-deployment.md
  docs/deployment/azure/aca-deployment.md
  docs/deployment/azure/includes/azd-up-workflow.md
  docs/deployment/azure/includes/init-workflow.md
Labels: database, deployment

#928 Rework TOC
  docs/extensibility/custom-resources.md
  docs/frameworks/orleans.md
  docs/fundamentals/components-overview.md
  docs/fundamentals/external-parameters.md
  docs/index.yml
  docs/toc.yml
Labels: fundamentals

#942 Add missing image updates
  docs/fundamentals/dashboard/configuration.md
  docs/fundamentals/dashboard/overview.md
  docs/fundamentals/dashboard/security-considerations.md
Labels: fundamentals

#962 Add icons
  docs/fundamentals/components-overview.md
  docs/fundamentals/media/icons/Aspire-logo-256.png
  docs/fundamentals/media/icons/AzureAppConfig_256x.png
  docs/fundamentals/media/icons/AzureAppInsights_256x.png
  docs/fundamentals/media/icons/AzureCacheRedis_256x.png
  docs/fundamentals/media/icons/AzureCosmosDB_256x.png
  docs/fundamentals/media/icons/AzureEventHubs_256x.png
  docs/fundamentals/media/icons/AzureKeyVault_256x.png
  docs/fundamentals/media/icons/AzureLogAnalytics_256x.png
  docs/fundamentals/media/icons/AzureOpenAI_256x.png
  docs/fundamentals/media/icons/AzurePostgreSQL_256x.png
  docs/fundamentals/media/icons/AzureSearch_256x.png
  docs/fundamentals/media/icons/AzureServiceBus_256x.png
  docs/fundamentals/media/icons/AzureSignalR_256x.png
  docs/fundamentals/media/icons/AzureSqlServer_256x.png
  docs/fundamentals/media/icons/AzureStorageContainer_256x.png
  docs/fundamentals/media/icons/AzureStorageQueue_256x.png
  docs/fundamentals/media/icons/AzureTable_256x.png
  docs/fundamentals/media/icons/Azure_256x.png
  docs/fundamentals/media/icons/MongoDB_256px.png
  docs/fundamentals/media/icons/PostgreSQL_logo.3colors.256x.png
  docs/fundamentals/media/icons/QdrantLogo_256x.png
  docs/fundamentals/media/icons/SQL_256x.png
  docs/fundamentals/media/icons/Seq_logo.256x.png
  docs/fundamentals/media/icons/mysqlconnector_logo.png
  docs/fundamentals/media/icons/nats-icon.png
  docs/fundamentals/media/icons/redis-cube-red_white-rgb.png
Labels: fundamentals

#965 Add Qdrant component
  docs/database/qdrant-component.md
  docs/fundamentals/components-overview.md
  docs/toc.yml
Labels: database, fundamentals

#967 Add link to dev proxy
  docs/fundamentals/setup-tooling.md
Labels: fundamentals

#973 Update aca-deployment-azd-in-depth.md - Add missing dotnet cli command argument
  docs/deployment/azure/aca-deployment-azd-in-depth.md
Labels: deployment

#969 Fix wrong nuget package in installation documentation.
  docs/database/qdrant-component.md
Labels: database

#970 Fixes/Updates to documentation
  docs/database/ef-core-migrations.md
  docs/messaging/messaging-components.md
Labels: database, messaging

#979 Fixes typo in .NET Aspire Overview
  docs/get-started/aspire-overview.md
Labels: getting-started

#968 Help more clearly define local dev.
  docs/fundamentals/app-host-overview.md
  docs/fundamentals/components-overview.md
  docs/fundamentals/service-defaults.md
  docs/get-started/aspire-overview.md
Labels: getting-started, fundamentals

#1006 Add content for VS Code and .NET CLI to tutorial
  docs/get-started/add-aspire-existing-app.md
  docs/get-started/media/vscode-launch.json.png
  docs/get-started/media/vscode-run-app-host.png
Labels: getting-started

#975 Update standalone.md
  docs/fundamentals/dashboard/standalone.md
Labels: fundamentals

#1018 Add link to supporting content for `az group delete` and help macOS users create .github
  docs/deployment/azure/aca-deployment-github-actions.md
  docs/includes/clean-up-resources.md
Labels: deployment

#1016 Updates to .NET Aspire dashboard content
  docs/fundamentals/dashboard/configuration.md
  docs/fundamentals/dashboard/media/standalone/standalone-mode.png
  docs/fundamentals/dashboard/overview.md
  docs/fundamentals/dashboard/security-considerations.md
  docs/fundamentals/dashboard/standalone.md
Labels: fundamentals

#1019 Update networking-overview.md
  docs/fundamentals/networking-overview.md
Labels: fundamentals

#1021 Fix AzureProvisioner config docs
  docs/deployment/azure/local-provisioning.md
Labels: deployment
