Repository dotnet/docs-aspire, pull requests merged in 2024-02, with the labels that each got.

#350 Fix typo in dashboard docs
  docs/fundamentals/dashboard.md
Labels: fundamentals

#356 adds dapr sample link to faq
  docs/reference/aspire-faq.yml
Labels: reference

#355 removing static keyword from HttpClient lambda
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.Web/Program.cs
Labels: getting-started

#363 reorder quickstart
  docs/get-started/build-your-first-aspire-app.md
Labels: getting-started

#372 Resource clean up
  docs/deployment/azure/aca-deployment-azd-in-depth.md
  docs/deployment/azure/aca-deployment-github-actions.md
  docs/deployment/azure/aca-deployment.md
  docs/includes/clean-up-resources.md
  docs/messaging/messaging-components.md
  docs/storage/azure-storage-components.md
Labels: storage, messaging, deployment

#377 Upgrade bits and add What's new to top-level TOC
  .github/workflows/snippets5000.yml
  docs/database/snippets/tutorial/aspiresqlefcore/AspireSQLEFCore.AppHost/AspireSQLEFCore.AppHost.csproj
  docs/database/snippets/tutorial/aspiresqlefcore/AspireSQLEFCore.AppHost/Program.cs
  docs/database/snippets/tutorial/aspiresqlefcore/AspireSQLEFCore.ServiceDefaults/AspireSQLEFCore.ServiceDefaults.csproj
  docs/database/snippets/tutorial/aspiresqlefcore/AspireSQLEFCore/AspireSQLEFCore.csproj
  docs/fundamentals/snippets/components/AspireApp/AspireApp.AppHost/AspireApp.AppHost.csproj
  docs/fundamentals/snippets/components/AspireApp/AspireApp.ServiceDefaults/AspireApp.ServiceDefaults.csproj
  docs/fundamentals/snippets/components/AspireApp/WorkerService/WorkerService.csproj
  docs/fundamentals/snippets/networking/Networking.AppHost/Networking.AppHost.csproj
  docs/fundamentals/snippets/template/YourAppName/YourAppName.ServiceDefaults.csproj
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.AppHost/AspireSample.AppHost.csproj
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.ServiceDefaults/AspireSample.ServiceDefaults.csproj
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.Web/AspireSample.Web.csproj
  docs/index.yml
  docs/storage/snippets/tutorial/AspireStorage/AspireStorage.AppHost/AspireStorage.AppHost.csproj
  docs/storage/snippets/tutorial/AspireStorage/AspireStorage.ServiceDefaults/AspireStorage.ServiceDefaults.csproj
  docs/storage/snippets/tutorial/AspireStorage/AspireStorage.Worker/AspireStorage.Worker.csproj
  docs/storage/snippets/tutorial/AspireStorage/AspireStorage/AspireStorage.csproj
  docs/toc.yml
Labels: storage, database, getting-started, fundamentals

#386 Deploy azure pipelines
  docs/deployment/azure/aca-deployment-github-actions.md
  docs/deployment/azure/media/azure-pipeline-resource-group.png
  docs/deployment/azure/media/azure-pipeline-run-details.png
  docs/deployment/azure/media/azure-pipeline-run.png
  docs/deployment/azure/media/azure-pipeline-summary.png
  docs/toc.yml
  docs/zones/zone-pivot-groups.yml
Labels: deployment

#389 Remove obsolete APIs
  docs/deployment/manifest-format.md
  docs/fundamentals/app-host-overview.md
  docs/fundamentals/snippets/networking/Networking.AppHost/Program.ContainerPort.cs
  docs/fundamentals/snippets/networking/Networking.AppHost/Program.EnvVarPort.cs
  docs/fundamentals/snippets/networking/Networking.AppHost/Program.HostPortAndRandomPort.cs
  docs/fundamentals/snippets/networking/Networking.AppHost/Program.OmitHostPort.cs
  docs/fundamentals/snippets/networking/Networking.AppHost/Program.WithLaunchProfile.cs
  docs/fundamentals/snippets/networking/Networking.AppHost/Program.WithReplicas.cs
  docs/service-discovery/overview.md
Labels: deployment, fundamentals

#394 Remove obsolete APIs, that were missed.
  docs/fundamentals/networking-overview.md
Labels: fundamentals

#373 Fix a partial sentence
  docs/get-started/build-your-first-aspire-app.md
Labels: getting-started

#374 Kafka component doc
  docs/fundamentals/components-overview.md
  docs/messaging/kafka-component.md
  docs/toc.yml
Labels: messaging

#399 Dashboard screenshots revised for preview 3
  docs/fundamentals/dashboard.md
  docs/fundamentals/media/dashboard/metrics-view-count.png
  docs/fundamentals/media/dashboard/metrics-view-filtered.png
  docs/fundamentals/media/dashboard/projects-errors.png
  docs/fundamentals/media/dashboard/projects.png
  docs/fundamentals/media/dashboard/resource-details.png
  docs/fundamentals/media/dashboard/resources-filtered-containers.png
  docs/fundamentals/media/dashboard/trace-span-details.png
  docs/fundamentals/media/dashboard/trace-span-event-details.png
  docs/fundamentals/media/dashboard/trace-view-errors.png
  docs/fundamentals/media/dashboard/trace-view-filter.png
  docs/fundamentals/media/dashboard/trace.png
  docs/fundamentals/media/dashboard/traces-errors.png
  docs/fundamentals/media/dashboard/traces.png
Labels: fundamentals

#395 Add Azure AI OpenAI component
  docs/deployment/azure/includes/aca-bicep-cli-shared-steps.md
  docs/deployment/azure/includes/aca-deployment-bicep.md
  docs/fundamentals/components-overview.md
  docs/messaging/rabbitmq-client-component.md
  docs/openai/azureai-openai-component.md
  docs/storage/azure-storage-queues-component.md
  docs/toc.yml
Labels: storage, messaging, fundamentals

#405 Added clarification and links to related content
  docs/fundamentals/app-host-overview.md
Labels: fundamentals

#407 Seed data
  docs/database/seed-database-data.md
  docs/toc.yml
Labels: database

#433 Remove reference to preview 1
  docs/deployment/overview.md
Labels: deployment

#438 Add new `Aspire.Oracle.EntityFrameworkCore` component.
  docs/database/oracle-entity-framework-component.md
  docs/toc.yml
Labels: database

#452 New MySQL EF Core component doc
  docs/database/mysql-entity-framework-component.md
  docs/database/oracle-entity-framework-component.md
  docs/fundamentals/components-overview.md
Labels: database
