Repository dotnet/docs-aspire, pull requests merged in 2024-03, with the labels that each got.

#454 Rewritten for preview 4 to use the new resource model
  docs/deployment/azure/application-insights.md
  docs/deployment/media/dashboard-with-connection-string.png
Labels: deployment

#465 Upgrade to `8.0.0 preview.4.24129.7`
  docs/database/snippets/tutorial/aspiresqlefcore/AspireSQLEFCore.AppHost/AspireSQLEFCore.AppHost.csproj
  docs/database/snippets/tutorial/aspiresqlefcore/AspireSQLEFCore.AppHost/Program.cs
  docs/database/snippets/tutorial/aspiresqlefcore/AspireSQLEFCore.ServiceDefaults/AspireSQLEFCore.ServiceDefaults.csproj
  docs/database/snippets/tutorial/aspiresqlefcore/AspireSQLEFCore.ServiceDefaults/Extensions.cs
  docs/database/snippets/tutorial/aspiresqlefcore/AspireSQLEFCore.sln
  docs/database/snippets/tutorial/aspiresqlefcore/AspireSQLEFCore/AspireSQLEFCore.csproj
  docs/fundamentals/snippets/components/AspireApp/AspireApp.AppHost/AspireApp.AppHost.csproj
  docs/fundamentals/snippets/components/AspireApp/AspireApp.ServiceDefaults/AspireApp.ServiceDefaults.csproj
  docs/fundamentals/snippets/components/AspireApp/AspireApp.ServiceDefaults/Extensions.cs
  docs/fundamentals/snippets/components/AspireApp/WorkerService/WorkerService.csproj
  docs/fundamentals/snippets/networking/Networking.AppHost/Networking.AppHost.csproj
  docs/fundamentals/snippets/networking/networking.sln
  docs/fundamentals/snippets/template/YourAppName/YourAppName.ServiceDefaults.csproj
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.AppHost/AspireSample.AppHost.csproj
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.ServiceDefaults/AspireSample.ServiceDefaults.csproj
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.ServiceDefaults/Extensions.cs
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.Web/AspireSample.Web.csproj
  docs/real-time/snippets/signalr/SignalR.AppHost/SignalR.AppHost.csproj
  docs/real-time/snippets/signalr/SignalR.ServiceDefaults/Extensions.cs
  docs/real-time/snippets/signalr/SignalR.ServiceDefaults/SignalR.ServiceDefaults.csproj
  docs/storage/snippets/tutorial/AspireStorage/AspireStorage.AppHost/AspireStorage.AppHost.csproj
  docs/storage/snippets/tutorial/AspireStorage/AspireStorage.ServiceDefaults/AspireStorage.ServiceDefaults.csproj
  docs/storage/snippets/tutorial/AspireStorage/AspireStorage.ServiceDefaults/Extensions.cs
  docs/storage/snippets/tutorial/AspireStorage/AspireStorage.Worker/AspireStorage.Worker.csproj
  docs/storage/snippets/tutorial/AspireStorage/AspireStorage/AspireStorage.csproj
  docs/whats-new/index.yml
Labels: storage, database, getting-started, fundamentals

#467 Rewrite the deployment tooling and manifest article
  docs/deployment/manifest-format.md
  docs/whats-new/preview-4.md
Labels: deployment

#470 Quickstart refresh for preview 4
  docs/get-started/build-your-first-aspire-app.md
  docs/get-started/media/aspire-dashboard-metrics.png
  docs/get-started/media/aspire-dashboard-trace.png
  docs/get-started/media/aspire-dashboard-webfrontend.png
  docs/get-started/media/aspire-dashboard.png
Labels: getting-started

#474 Update application-insights.md
  docs/deployment/azure/application-insights.md
Labels: deployment

#472 Add content covering `WithEndpoint` and the `callback` delegate.
  docs/fundamentals/networking-overview.md
  docs/fundamentals/snippets/networking/Networking.ApiService/Networking.ApiService.csproj
  docs/fundamentals/snippets/networking/Networking.ApiService/Networking.ApiService.http
  docs/fundamentals/snippets/networking/Networking.ApiService/Program.cs
  docs/fundamentals/snippets/networking/Networking.ApiService/Properties/launchSettings.json
  docs/fundamentals/snippets/networking/Networking.ApiService/appsettings.Development.json
  docs/fundamentals/snippets/networking/Networking.ApiService/appsettings.json
  docs/fundamentals/snippets/networking/Networking.AppHost/Networking.AppHost.csproj
  docs/fundamentals/snippets/networking/Networking.AppHost/Program.WithEndpoint.cs
  docs/fundamentals/snippets/networking/Networking.AppHost/Program.cs
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/Components/Pages/Weather.razor
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/Networking.Frontend.csproj
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/Program.cs
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/WeatherApiClient.cs
  docs/fundamentals/snippets/networking/Networking.ServiceDefaults/Extensions.cs
  docs/fundamentals/snippets/networking/Networking.ServiceDefaults/Networking.ServiceDefaults.csproj
  docs/fundamentals/snippets/networking/networking.sln
Labels: fundamentals

#476 Update the AZD bits for deployment
  docs/deployment/azure/aca-deployment-azd-in-depth.md
  docs/deployment/azure/aca-deployment-github-actions.md
  docs/deployment/azure/aca-deployment.md
  docs/deployment/azure/application-insights.md
  docs/deployment/azure/includes/aca-deployment-azd.md
  docs/deployment/azure/includes/azd-deploy-output.md
  docs/deployment/azure/includes/azd-down-output.md
  docs/deployment/azure/includes/azd-up-output.md
  docs/deployment/azure/includes/init-workflow.md
  docs/deployment/azure/media/azd-aca-variables.png
  docs/deployment/azure/media/azd-azure-portal-deployed-resources.png
  docs/media/portal-screens-web-container-app.png
  docs/real-time/azure-signalr-scenario.md
  docs/toc.yml
  docs/whats-new/preview-3.md
Labels: deployment

#479 Add text to make a clear distinction between .NET Aspire orchestratio…
  docs/fundamentals/app-host-overview.md
  docs/get-started/aspire-overview.md
Labels: getting-started, fundamentals

#480 Update screen capture, and content for setup docs
  docs/deployment/azure/aca-deployment-github-actions.md
  docs/fundamentals/media/dashboard/projects.png
  docs/fundamentals/setup-tooling.md
  docs/media/aspire-templates.png
  docs/media/install-aspire-workload-visual-studio.png
  docs/media/run-dashboard-cli.png
  docs/media/visual-studio-add-aspire-comp-nuget.png
  docs/media/visual-studio-tools-options-aspire.png
  docs/toc.yml
Labels: fundamentals

#485 Updates for publish mode
  docs/azureai/azureai-openai-component.md
  docs/azureai/azureai-search-document-component.md
  docs/database/azure-cosmos-db-component.md
  docs/messaging/azure-service-bus-component.md
  docs/security/azure-security-key-vault-component.md
  docs/storage/snippets/tutorial/AspireStorage/AspireStorage.AppHost/Program.cs
Labels: storage, database, messaging, security

#513 Add details for shortcuts
  docs/azureai/azureai-openai-component.md
  docs/database/azure-cosmos-db-component.md
  docs/database/seed-database-data.md
  docs/database/sql-server-component.md
  docs/deployment/manifest-format.md
  docs/fundamentals/app-host-overview.md
  docs/fundamentals/dashboard.md
  docs/fundamentals/persist-data-volumes.md
  docs/storage/azure-storage-blobs-component.md
  docs/storage/azure-storage-queues-component.md
  docs/whats-new/preview-3.md
Labels: storage, database, deployment, fundamentals

#532 Sql server component deploy
  docs/database/media/resource-deployment.png
  docs/database/media/resources-azure-sql-container.png
  docs/database/media/resources-azure-sql-database.png
  docs/database/sql-server-component-deployment.md
  docs/database/sql-server-components.md
  docs/toc.yml
Labels: database

#544 Add details about container runtime
  docs/fundamentals/setup-tooling.md
Labels: fundamentals

#547 Add cli path to manage app
  docs/messaging/messaging-components.md
Labels: messaging

#553 Added CLI path to storage
  docs/storage/azure-storage-components.md
Labels: storage

#562 Add new article to fix #551
  docs/deployment/manifest-format.md
  docs/index.yml
  docs/toc.yml
  docs/troubleshooting/allow-unsecure-transport.md
Labels: deployment
