Repository dotnet/docs-aspire, pull requests merged in 2024-10, with the labels that each got.

#1709 fix default nodes
  quest-config.json
Labels: okr-freshness

#1757 Use correct method name in ServiceBus
  docs/messaging/azure-service-bus-integration.md
  docs/security/azure-security-key-vault-integration.md
  docs/storage/azure-storage-tables-integration.md
Labels: messaging

#1761 Update postgresql-entity-framework-integration.md
  docs/database/postgresql-entity-framework-integration.md
Labels: community-contribution

#1764 Fix typo in the docs
  docs/extensibility/snippets/MailDevResourceAndComponent/MailKit.Client/MailKit.Client.csproj
Labels: community-contribution

#1804 Fix typo in aca-deployment-azd-in-depth.md
  docs/deployment/azure/aca-deployment-azd-in-depth.md
Labels: :octocat: auto-merge, okr-quality, okr-health

#1812 Demote messaging integration headings
  docs/messaging/kafka-integration.md
  docs/messaging/nats-integration.md
  docs/messaging/rabbitmq-integration.md
Labels: messaging, okr-quality

#1819 Wrong method in Ollama hosting docs
  docs/community-toolkit/ollama.md
Labels: community-contribution

#1821 Fix Kafka integration documentation
  docs/messaging/kafka-integration.md
Labels: messaging, community-contribution

#1833 Various dashboard and telemetry docs updates
  docs/fundamentals/dashboard/configuration.md
  docs/fundamentals/dashboard/enable-browser-telemetry.md
  docs/fundamentals/dashboard/overview.md
  docs/fundamentals/dashboard/security-considerations.md
  docs/fundamentals/dashboard/standalone-for-python.md
  docs/fundamentals/dashboard/standalone.md
Labels: fundamentals

#1810 Initial bits for .NET Aspire release 9.0-rc1
  docs/whats-new/dotnet-aspire-9-release-candidate-1.md
  docs/whats-new/index.yml
  docs/whats-new/media/clear-cache-command.png
  docs/whats-new/media/console-logs-ansi-text-format.png
  docs/whats-new/media/create-aspire8-starterapp.png
  docs/whats-new/media/create-aspire9-starterapp.png
  docs/whats-new/media/create-new-project-vs.png
  docs/whats-new/media/dashboard-browser-telemetry.png
  docs/whats-new/media/functions-dashboard-screenshot.png
  docs/whats-new/media/functions-debug-screenshot.png
  docs/whats-new/media/functions-step-1.gif
  docs/whats-new/media/health-check-details.png
  docs/whats-new/media/persistent-container-docker-desktop.png
  docs/whats-new/media/persistent-container.png
  docs/whats-new/media/redis-insight.png
  docs/whats-new/media/telemetry-resource-filter.png
  docs/whats-new/media/upgrade-assistant-1.png
  docs/whats-new/media/upgrade-assistant-2.png
  docs/whats-new/media/upgrade-assistant-confirmation.png
  docs/whats-new/media/waiting-for-unhealthy-resource.png
  docs/whats-new/toc.yml
Labels: okr-freshness

#1841 Update OpenAI section in 9.0-rc1 whats-new
  docs/whats-new/dotnet-aspire-9-release-candidate-1.md
Labels: community-contribution

#1843 Add Preview moniker to the OpenAI integration
  docs/whats-new/dotnet-aspire-9-release-candidate-1.md
Labels: community-contribution

#1816 Rewrite the Elasticsearch integration
  docs/search/elasticsearch-integration.md
Labels: okr-quality, okr-freshness

#1835 Redis rewrite
  .markdownlint-cli2.jsonc
  docs/caching/includes/garnet-app-host.md
  docs/caching/includes/garnet-intro.md
  docs/caching/includes/redis-app-host.md
  docs/caching/includes/redis-intro.md
  docs/caching/includes/valkey-app-host.md
  docs/caching/includes/valkey-intro.md
  docs/caching/stackexchange-redis-integration.md
  docs/fundamentals/media/icons/Garnet_256x.png
  docs/fundamentals/media/icons/Valkey_256x.png
  docs/messaging/rabbitmq-integration.md
  docs/whats-new/dotnet-aspire-9-release-candidate-1.md
Labels: messaging, caching, fundamentals, okr-quality, okr-freshness

#1849 Updates to other Redis-protocol docs
  docs/caching/includes/garnet-intro.md
  docs/caching/includes/redis-client-json-settings.md
  docs/caching/includes/redis-hosting-health-checks.md
  docs/caching/includes/redis-intro.md
  docs/caching/includes/redis-trademark.md
  docs/caching/includes/valkey-intro.md
  docs/caching/stackexchange-redis-caching-overview.md
  docs/caching/stackexchange-redis-distributed-caching-integration.md
  docs/caching/stackexchange-redis-integration.md
  docs/caching/stackexchange-redis-output-caching-integration.md
  docs/includes/integration-health-checks.md
  docs/includes/integration-observability-and-telemetry.md
  docs/zones/zone-pivot-groups.yml
Labels: caching, okr-quality

#1870 minor text fixes
  docs/fundamentals/dashboard/enable-browser-telemetry.md
Labels: fundamentals, community-contribution

#1875 Moving package links to be Azure Artifacts not GitHub Packages
  docs/community-toolkit/hosting-azure-static-web-apps.md
  docs/community-toolkit/hosting-golang.md
  docs/community-toolkit/hosting-java.md
  docs/community-toolkit/hosting-nodejs-extensions.md
  docs/community-toolkit/ollama.md
  docs/fundamentals/integrations-overview.md
Labels: fundamentals, community-contribution

#1877 Moving from Aspire.CommunityToolkit to CommunityToolkit.Aspire
  docs/community-toolkit/hosting-azure-static-web-apps.md
  docs/community-toolkit/hosting-golang.md
  docs/community-toolkit/hosting-java.md
  docs/community-toolkit/hosting-nodejs-extensions.md
  docs/community-toolkit/ollama.md
  docs/community-toolkit/overview.md
  docs/fundamentals/integrations-overview.md
Labels: fundamentals, community-contribution

#1863 Fix broken links
  docs/get-started/build-aspire-apps-with-nodejs.md
Labels: getting-started

#1858 Rewrite both PostgreSQL integration docs
  docs/database/includes/postgresql-app-host.md
  docs/database/includes/postgresql-explicit-username-password.md
  docs/database/includes/postgresql-flexible-server.md
  docs/database/includes/postgresql-pgadmin.md
  docs/database/includes/postgresql-pgweb.md
  docs/database/postgresql-entity-framework-integration.md
  docs/database/postgresql-integration.md
  docs/messaging/rabbitmq-integration.md
Labels: database, messaging, okr-quality, okr-freshness

#1861 Make it easier to onboard with VS Code.
  docs/get-started/build-your-first-aspire-app.md
  docs/get-started/media/vscode-run-accept-cert.png
  docs/get-started/media/vscode-run-cert-created.png
  docs/troubleshooting/untrusted-localhost-certificate.md
Labels: getting-started, okr-quality

#1883 Using nuget.org links for Community Toolkit packages
  docs/community-toolkit/hosting-azure-static-web-apps.md
  docs/community-toolkit/hosting-golang.md
  docs/community-toolkit/hosting-java.md
  docs/community-toolkit/hosting-nodejs-extensions.md
  docs/community-toolkit/ollama.md
  docs/fundamentals/integrations-overview.md
Labels: community-contribution

#1887 Update ollama.md, add support for GPUs
  docs/community-toolkit/ollama.md
Labels: community-contribution

#1895 Added repo chore automation
  .github/workflows/create-monthly-issues.yml
Labels: ⚙️ repo-maintenance
