Repository dotnet/docs-aspire, pull requests merged in 2024-12, with the labels that each got.

#2168 Update hosting-sql-database-projects.md
  docs/community-toolkit/hosting-sql-database-projects.md
Labels: community-contribution

#2166 Update EventStore docs
  docs/community-toolkit/hosting-eventstore.md
Labels: community-contribution

#2174 Add tip about --framework option for creating Aspire projects with CLI
  docs/fundamentals/aspire-sdk-templates.md
Labels: fundamentals

#2171 Rewrite SQL Server EF Core integration.
  docs/database/sql-server-entity-framework-integration.md
  docs/database/sql-server-integration.md
  docs/database/sql-server-integrations.md
Labels: database, okr-quality

#2179 Remove a few instances of redundant "the"
  docs/database/mysql-entity-framework-integration.md
  docs/database/oracle-entity-framework-integration.md
  docs/whats-new/dotnet-aspire-9.md
Labels: database, community-contribution

#2181 Update dotnet-aspire-sdk.md
  docs/fundamentals/dotnet-aspire-sdk.md
Labels: fundamentals, community-contribution

#2178 Rewrite the MongoDB integration article.
  docs/database/includes/postgresql-app-host.md
  docs/database/includes/sql-app-host.md
  docs/database/mongodb-integration.md
Labels: database, okr-quality

#2242 Fix monthly workflow.
  .github/workflows/create-monthly-issues.yml
Labels: ⚙️ repo-maintenance

#2239 Azure Storage integration rewrites.
  .gitignore
  .vscode/details.code-snippets
  docfx.json
  docs/fundamentals/app-host-overview.md
  docs/fundamentals/external-parameters.md
  docs/fundamentals/integrations-overview.md
  docs/includes/connection-strings-alert.md
  docs/snippets/azure/AppHost/AppHost.csproj
  docs/snippets/azure/AppHost/AppHost.sln
  docs/snippets/azure/AppHost/Program.ConfigureStorageInfra.cs
  docs/snippets/azure/AppHost/Program.cs
  docs/snippets/azure/AppHost/Properties/launchSettings.json
  docs/snippets/azure/AppHost/appsettings.Development.json
  docs/snippets/azure/AppHost/appsettings.json
  docs/snippets/azure/AppHost/aspire-manifest.json
  docs/snippets/azure/AppHost/config.module.bicep
  docs/snippets/azure/AppHost/cosmos.module.bicep
  docs/snippets/azure/AppHost/event-hubs.module.bicep
  docs/snippets/azure/AppHost/insights.module.bicep
  docs/snippets/azure/AppHost/key-vault.module.bicep
  docs/snippets/azure/AppHost/log-analytics-workspace.module.bicep
  docs/snippets/azure/AppHost/openai.module.bicep
  docs/snippets/azure/AppHost/postgres-flexible.module.bicep
  docs/snippets/azure/AppHost/redis.module.bicep
  docs/snippets/azure/AppHost/search.module.bicep
  docs/snippets/azure/AppHost/service-bus.module.bicep
  docs/snippets/azure/AppHost/signalr.module.bicep
  docs/snippets/azure/AppHost/sql.module.bicep
  docs/snippets/azure/AppHost/storage.module.bicep
  docs/snippets/azure/AppHost/web-pub-sub.module.bicep
  docs/storage/azure-storage-blobs-integration.md
  docs/storage/azure-storage-queues-integration.md
  docs/storage/azure-storage-tables-integration.md
  docs/storage/includes/storage-app-host.md
  docs/storage/includes/storage-hosting-health-checks.md
  docs/storage/media/azure-storage-explorer.png
  docs/toc.yml
Labels: storage, okr-quality

#2245 Update service-defaults.md per MS style guide
  docs/fundamentals/service-defaults.md
Labels: fundamentals, community-contribution

#2284 MySQL integrations rewrite
  docs/database/includes/mysql-app-host.md
  docs/database/mysql-entity-framework-integration.md
  docs/database/mysql-integration.md
  docs/toc.yml
Labels: database, community-contribution

#2288 Fix issue with MD
  docs/database/mysql-entity-framework-integration.md
Labels: :octocat: auto-merge

#2294 Re-add issue automation
  .github/workflows/create-monthly-issues.yml
Labels: ⚙️ repo-maintenance

#2320 Add content about connecting to existing resources
  docs/azure/integrations-overview.md
Labels: okr-quality

#2321 Seq integration rewrite
  docs/logging/seq-integration.md
Labels: okr-freshness, community-contribution

#2326 Seq integration EULA acceptance
  docs/logging/seq-integration.md
Labels: okr-freshness, community-contribution

#2339 Update overview.md
  docs/service-discovery/overview.md
Labels: fundamentals, community-contribution
