Repository dotnet/docs-aspire, pull requests merged in 2024-04, with the labels that each got.

#563 Add healthz details
  .github/workflows/markdownlint.yml
  docs/fundamentals/health-checks.md
  docs/fundamentals/snippets/healthz/Healthz.ServiceDefaults/Extensions.cs
  docs/fundamentals/snippets/healthz/Healthz.ServiceDefaults/Healthz.ServiceDefaults.csproj
  docs/fundamentals/snippets/healthz/Healthz.ServiceDefaults/healthz.sln
  docs/whats-new/preview-5.md
Labels: fundamentals

#560 Added a section about custom service defaults
  docs/fundamentals/service-defaults.md
Labels: fundamentals

#518 Remove AddBuiltInMeters()
  docs/fundamentals/service-defaults.md
  docs/fundamentals/snippets/params/Parameters.ServiceDefaults/Extensions.cs
  docs/fundamentals/snippets/template/YourAppName/Extensions.cs
Labels: fundamentals, preview-5

#571 Typo "Create a Azure DevOps"→"Create an Azure DevOps"
  docs/deployment/azure/aca-deployment-github-actions.md
Labels: deployment

#570 Try sync with source
  docs/database/snippets/tutorial/aspiresqlefcore/AspireSQLEFCore.ServiceDefaults/AspireSQLEFCore.ServiceDefaults.csproj
  docs/database/snippets/tutorial/aspiresqlefcore/AspireSQLEFCore.ServiceDefaults/Extensions.cs
  docs/fundamentals/service-defaults.md
  docs/fundamentals/snippets/components/AspireApp/AspireApp.ServiceDefaults/AspireApp.ServiceDefaults.csproj
  docs/fundamentals/snippets/components/AspireApp/AspireApp.ServiceDefaults/Extensions.cs
  docs/fundamentals/snippets/healthz/Healthz.ServiceDefaults/Healthz.ServiceDefaults.csproj
  docs/fundamentals/snippets/networking/Networking.ServiceDefaults/Extensions.cs
  docs/fundamentals/snippets/networking/Networking.ServiceDefaults/Networking.ServiceDefaults.csproj
  docs/fundamentals/snippets/params/Parameters.ServiceDefaults/Extensions.cs
  docs/fundamentals/snippets/params/Parameters.ServiceDefaults/Parameters.ServiceDefaults.csproj
  docs/fundamentals/snippets/template/YourAppName/Extensions.cs
  docs/fundamentals/snippets/template/YourAppName/YourAppName.ServiceDefaults.csproj
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.ServiceDefaults/AspireSample.ServiceDefaults.csproj
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.ServiceDefaults/Extensions.cs
  docs/real-time/snippets/signalr/SignalR.ServiceDefaults/Extensions.cs
  docs/real-time/snippets/signalr/SignalR.ServiceDefaults/SignalR.ServiceDefaults.csproj
  docs/storage/snippets/tutorial/AspireStorage/AspireStorage.ServiceDefaults/AspireStorage.ServiceDefaults.csproj
  docs/storage/snippets/tutorial/AspireStorage/AspireStorage.ServiceDefaults/Extensions.cs
Labels: storage, database, getting-started, fundamentals

#572 Added a few bits about templates
  docs/fundamentals/setup-tooling.md
  docs/media/aspire-templates.png
  docs/whats-new/preview-5.md
Labels: fundamentals

#561 Initial bits for hosting changes.
  docs/database/snippets/tutorial/aspiresqlefcore/AspireSQLEFCore.AppHost/AspireSQLEFCore.AppHost.csproj
  docs/database/snippets/tutorial/aspiresqlefcore/AspireSQLEFCore.ServiceDefaults/AspireSQLEFCore.ServiceDefaults.csproj
  docs/database/snippets/tutorial/aspiresqlefcore/AspireSQLEFCore/AspireSQLEFCore.csproj
  docs/fundamentals/app-host-overview.md
  docs/fundamentals/networking-overview.md
  docs/fundamentals/setup-tooling.md
  docs/fundamentals/snippets/components/AspireApp/AspireApp.AppHost/AspireApp.AppHost.csproj
  docs/fundamentals/snippets/components/AspireApp/AspireApp.ServiceDefaults/AspireApp.ServiceDefaults.csproj
  docs/fundamentals/snippets/components/AspireApp/WorkerService/WorkerService.csproj
  docs/fundamentals/snippets/healthz/Healthz.ServiceDefaults/Healthz.ServiceDefaults.csproj
  docs/fundamentals/snippets/networking/Networking.AppHost/Networking.AppHost.csproj
  docs/fundamentals/snippets/networking/Networking.AppHost/Program.ContainerPort.cs
  docs/fundamentals/snippets/networking/Networking.AppHost/Program.EnvVarPort.cs
  docs/fundamentals/snippets/networking/Networking.AppHost/Program.HostPortAndRandomPort.cs
  docs/fundamentals/snippets/networking/Networking.AppHost/Program.WithLaunchProfile.cs
  docs/fundamentals/snippets/networking/Networking.AppHost/Program.WithReplicas.cs
  docs/fundamentals/snippets/networking/Networking.ServiceDefaults/Networking.ServiceDefaults.csproj
  docs/fundamentals/snippets/params/Parameters.ApiService/Parameters.ApiService.csproj
  docs/fundamentals/snippets/params/Parameters.AppHost/Parameters.AppHost.csproj
  docs/fundamentals/snippets/params/Parameters.ServiceDefaults/Parameters.ServiceDefaults.csproj
  docs/fundamentals/snippets/template/YourAppName/YourAppName.ServiceDefaults.csproj
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.AppHost/AspireSample.AppHost.csproj
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.ServiceDefaults/AspireSample.ServiceDefaults.csproj
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.ServiceDefaults/Extensions.cs
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.Web/AspireSample.Web.csproj
  docs/media/visual-studio-add-aspire-hosting-nuget.png
  docs/media/visual-studio-add-aspire-hosting-package.png
  docs/media/visual-studio-add-aspire-hosting-resource.png
  docs/real-time/azure-signalr-scenario.md
  docs/real-time/snippets/signalr/SignalR.AppHost/SignalR.AppHost.csproj
  docs/real-time/snippets/signalr/SignalR.ServiceDefaults/SignalR.ServiceDefaults.csproj
  docs/storage/snippets/tutorial/AspireStorage/AspireStorage.AppHost/AspireStorage.AppHost.csproj
  docs/storage/snippets/tutorial/AspireStorage/AspireStorage.ServiceDefaults/AspireStorage.ServiceDefaults.csproj
  docs/storage/snippets/tutorial/AspireStorage/AspireStorage.Worker/AspireStorage.Worker.csproj
  docs/storage/snippets/tutorial/AspireStorage/AspireStorage/AspireStorage.csproj
Labels: fundamentals

#573 Corrected port number description to match associated diagram
  docs/fundamentals/networking-overview.md
Labels: fundamentals

#583 Deployment scenarios with k8s
  docs/deployment/overview.md
Labels: deployment

#587 Add Azure Event Hubs component +
  docs/azureai/azureai-openai-component.md
  docs/azureai/azureai-search-document-component.md
  docs/database/azure-cosmos-db-component.md
  docs/database/azure-cosmos-db-entity-framework-component.md
  docs/includes/azure-component-nuget.md
  docs/index.yml
  docs/messaging/azure-event-hubs-component.md
  docs/messaging/azure-service-bus-component.md
  docs/real-time/azure-signalr-scenario.md
  docs/security/azure-security-key-vault-component.md
  docs/storage/azure-storage-blobs-component.md
  docs/storage/azure-storage-components.md
  docs/storage/azure-storage-queues-component.md
  docs/storage/azure-storage-tables-component.md
  docs/toc.yml
Labels: storage, database, messaging, security

#589 Initial effort for local provisioning
  docs/deployment/azure/local-provisioning.md
  docs/deployment/azure/media/azure-provisioning-settings-dialog.png
  docs/deployment/azure/media/azure-resource-provisioning-settings.png
  docs/deployment/azure/media/console-logs-kv-missing-subscription.png
  docs/deployment/azure/media/resources-kv-missing-subscription.png
  docs/fundamentals/app-host-overview.md
  docs/index.yml
  docs/messaging/nats-component.md
  docs/toc.yml
  docs/whats-new/preview-5.md
Labels: deployment, fundamentals

#591 Add info about service discovery when added existing app
  docs/get-started/add-aspire-existing-app.md
Labels: getting-started

#592 grammar/punctuation fixes
  docs/reference/aspire-faq.yml
Labels: reference

#641 Let's get this fixed too
  docs/service-discovery/overview.md
Labels: fundamentals

#651 Correct NuGet package
  docs/deployment/azure/application-insights.md
Labels: deployment

#674 Dashboard docs refactor
  .openpublishing.redirection.json
  docs/deployment/azure/local-provisioning.md
  docs/fundamentals/dashboard/configuration.md
  docs/fundamentals/dashboard/explore.md
  docs/fundamentals/dashboard/media/explore/container-logs.png
  docs/fundamentals/dashboard/media/explore/metrics-table-view.png
  docs/fundamentals/dashboard/media/explore/metrics-view-count.png
  docs/fundamentals/dashboard/media/explore/metrics-view-filtered.png
  docs/fundamentals/dashboard/media/explore/metrics-view.png
  docs/fundamentals/dashboard/media/explore/project-logs-error.png
  docs/fundamentals/dashboard/media/explore/project-logs.png
  docs/fundamentals/dashboard/media/explore/projects-errors.png
  docs/fundamentals/dashboard/media/explore/projects.png
  docs/fundamentals/dashboard/media/explore/resource-details.png
  docs/fundamentals/dashboard/media/explore/resources-filtered-containers.png
  docs/fundamentals/dashboard/media/explore/select-resource-type.png
  docs/fundamentals/dashboard/media/explore/structured-logs-errors-view.png
  docs/fundamentals/dashboard/media/explore/structured-logs-errors.png
  docs/fundamentals/dashboard/media/explore/structured-logs-filtered.png
  docs/fundamentals/dashboard/media/explore/structured-logs-trace-errors.png
  docs/fundamentals/dashboard/media/explore/structured-logs.png
  docs/fundamentals/dashboard/media/explore/theme-selection-light.png
  docs/fundamentals/dashboard/media/explore/theme-selection.png
  docs/fundamentals/dashboard/media/explore/trace-span-details.png
  docs/fundamentals/dashboard/media/explore/trace-span-event-details.png
  docs/fundamentals/dashboard/media/explore/trace-view-errors.png
  docs/fundamentals/dashboard/media/explore/trace-view-filter.png
  docs/fundamentals/dashboard/media/explore/trace.png
  docs/fundamentals/dashboard/media/explore/traces-errors.png
  docs/fundamentals/dashboard/media/explore/traces.png
  docs/fundamentals/dashboard/overview.md
  docs/fundamentals/dashboard/security-considerations.md
  docs/fundamentals/media/setup-tooling/projects.png
  docs/fundamentals/setup-tooling.md
  docs/get-started/build-your-first-aspire-app.md
  docs/index.yml
  docs/storage/azure-storage-components.md
  docs/toc.yml
  docs/whats-new/dotnet-docs-aspire-mod0.md
  docs/whats-new/dotnet-docs-aspire-mod2.md
  docs/whats-new/preview-3.md
  docs/whats-new/preview-4.md
Labels: fundamentals

#678 Add note that only OTLP/grpc is currently supported
  docs/fundamentals/dashboard/overview.md
Labels: fundamentals

#684 Update setup-tooling.md (typo)
  docs/fundamentals/setup-tooling.md
Labels: fundamentals

#693 Content for configuring Azure credential source.
  docs/azureai/azureai-openai-component.md
  docs/azureai/azureai-search-document-component.md
  docs/database/azure-cosmos-db-component.md
  docs/database/azure-cosmos-db-entity-framework-component.md
  docs/includes/azure-provisioning.md
  docs/messaging/azure-event-hubs-component.md
  docs/messaging/azure-service-bus-component.md
  docs/real-time/azure-signalr-scenario.md
  docs/real-time/snippets/signalr/SignalR.AppHost/Program.cs
  docs/real-time/snippets/signalr/SignalR.AppHost/SignalR.AppHost.csproj
  docs/security/azure-security-key-vault-component.md
  docs/storage/azure-storage-blobs-component.md
  docs/storage/azure-storage-queues-component.md
  docs/storage/azure-storage-tables-component.md
Labels: storage, database, messaging, security

#698 Remove misplaced provisioning content, it belonged in local
  docs/azureai/azureai-openai-component.md
  docs/azureai/azureai-search-document-component.md
  docs/database/azure-cosmos-db-component.md
  docs/database/azure-cosmos-db-entity-framework-component.md
  docs/deployment/azure/local-provisioning.md
  docs/includes/azure-provisioning.md
  docs/messaging/azure-event-hubs-component.md
  docs/messaging/azure-service-bus-component.md
  docs/real-time/azure-signalr-scenario.md
  docs/real-time/snippets/signalr/SignalR.AppHost/Program.cs
  docs/security/azure-security-key-vault-component.md
  docs/storage/azure-storage-blobs-component.md
  docs/storage/azure-storage-queues-component.md
  docs/storage/azure-storage-tables-component.md
Labels: storage, database, messaging, security, deployment

#701 Update azure-storage-components.md
  docs/storage/azure-storage-components.md
Labels: storage

#705 Fix the env var format for service endpoints
  docs/fundamentals/app-host-overview.md
  docs/fundamentals/networking-overview.md
  docs/get-started/build-aspire-apps-with-nodejs.md
Labels: getting-started, fundamentals

#706 Fix broken link
  docs/messaging/messaging-components.md
Labels: messaging

#710 Add section for securing telemetry
  docs/fundamentals/dashboard/explore.md
  docs/fundamentals/dashboard/security-considerations.md
Labels: fundamentals

#711 .NET Aspire and launch profiles
  docs/fundamentals/launch-profiles.md
  docs/fundamentals/media/launch-profiles/vs-launch-profile-toolbar.png
  docs/index.yml
Labels: getting-started, fundamentals

#712 Add testing bits
  docs/fundamentals/media/setup-tooling/create-test-projects-template.png
  docs/fundamentals/setup-tooling.md
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.ApiService/AspireApp1.ApiService.csproj
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.ApiService/Program.cs
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.ApiService/Properties/launchSettings.json
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.ApiService/appsettings.Development.json
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.ApiService/appsettings.json
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.AppHost/AspireApp1.AppHost.csproj
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.AppHost/Program.cs
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.AppHost/Properties/launchSettings.json
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.AppHost/appsettings.Development.json
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.AppHost/appsettings.json
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.ServiceDefaults/AspireApp1.ServiceDefaults.csproj
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.ServiceDefaults/Extensions.cs
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.Tests/AspireApp1.Tests.csproj
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.Tests/WebTests.cs
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.Web/AspireApp1.Web.csproj
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.Web/Components/App.razor
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.Web/Components/Layout/MainLayout.razor
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.Web/Components/Layout/MainLayout.razor.css
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.Web/Components/Layout/NavMenu.razor
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.Web/Components/Layout/NavMenu.razor.css
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.Web/Components/Pages/Counter.razor
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.Web/Components/Pages/Error.razor
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.Web/Components/Pages/Home.razor
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.Web/Components/Pages/Weather.razor
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.Web/Components/Routes.razor
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.Web/Components/_Imports.razor
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.Web/Program.cs
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.Web/Properties/launchSettings.json
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.Web/WeatherApiClient.cs
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.Web/appsettings.Development.json
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.Web/appsettings.json
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.Web/wwwroot/app.css
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.Web/wwwroot/bootstrap/bootstrap.min.css
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.Web/wwwroot/bootstrap/bootstrap.min.css.map
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.Web/wwwroot/favicon.png
  docs/fundamentals/snippets/testing/AspireApp1/AspireApp1.sln
  docs/fundamentals/testing.md
  docs/index.yml
  docs/toc.yml
  docs/whats-new/index.yml
Labels: fundamentals

#743 Fix invalidated xref's since API updates
  docs/azureai/azureai-openai-component.md
  docs/database/azure-cosmos-db-component.md
  docs/database/azure-cosmos-db-entity-framework-component.md
  docs/fundamentals/networking-overview.md
  docs/get-started/aspire-overview.md
  docs/messaging/azure-service-bus-component.md
  docs/messaging/messaging-components.md
  docs/messaging/rabbitmq-client-component.md
  docs/service-discovery/overview.md
  docs/storage/azure-storage-blobs-component.md
  docs/storage/azure-storage-components.md
  docs/storage/azure-storage-queues-component.md
  docs/storage/azure-storage-tables-component.md
  docs/storage/snippets/tutorial/AspireStorage/AspireStorage.Worker/Program.cs
  docs/storage/snippets/tutorial/AspireStorage/AspireStorage/Program.cs
  docs/whats-new/preview-3.md
Labels: storage, database, messaging, getting-started, fundamentals

#750 Address multiple issues
  docs/deployment/azure/aca-deployment-github-actions.md
  docs/deployment/azure/includes/init-workflow.md
  docs/includes/file-new-aspire.md
Labels: deployment

#751 More issues
  docs/fundamentals/setup-tooling.md
  docs/media/run-dashboard-cli.png
  docs/media/visual-studio-add-aspire-component.png
  docs/media/visual-studio-add-aspire-orchestrator.png
Labels: fundamentals

#760 Local code snippets and correct persisted volumes
  docs/fundamentals/persist-data-volumes.md
  docs/fundamentals/snippets/volumes/VolumeMounts.ApiService/Program.cs
  docs/fundamentals/snippets/volumes/VolumeMounts.ApiService/Properties/launchSettings.json
  docs/fundamentals/snippets/volumes/VolumeMounts.ApiService/VolumeMounts.ApiService.csproj
  docs/fundamentals/snippets/volumes/VolumeMounts.ApiService/appsettings.Development.json
  docs/fundamentals/snippets/volumes/VolumeMounts.ApiService/appsettings.json
  docs/fundamentals/snippets/volumes/VolumeMounts.AppHost/Program.ExplicitStable.cs
  docs/fundamentals/snippets/volumes/VolumeMounts.AppHost/Program.Implicit.cs
  docs/fundamentals/snippets/volumes/VolumeMounts.AppHost/Program.WithBindMount.cs
  docs/fundamentals/snippets/volumes/VolumeMounts.AppHost/Program.cs
  docs/fundamentals/snippets/volumes/VolumeMounts.AppHost/Properties/launchSettings.json
  docs/fundamentals/snippets/volumes/VolumeMounts.AppHost/VolumeMounts.AppHost.csproj
  docs/fundamentals/snippets/volumes/VolumeMounts.AppHost/appsettings.Development.json
  docs/fundamentals/snippets/volumes/VolumeMounts.AppHost/appsettings.json
  docs/fundamentals/snippets/volumes/VolumeMounts.ServiceDefaults/Extensions.cs
  docs/fundamentals/snippets/volumes/VolumeMounts.ServiceDefaults/VolumeMounts.ServiceDefaults.csproj
  docs/fundamentals/snippets/volumes/VolumeMounts.Web/Components/App.razor
  docs/fundamentals/snippets/volumes/VolumeMounts.Web/Components/Layout/MainLayout.razor
  docs/fundamentals/snippets/volumes/VolumeMounts.Web/Components/Layout/MainLayout.razor.css
  docs/fundamentals/snippets/volumes/VolumeMounts.Web/Components/Layout/NavMenu.razor
  docs/fundamentals/snippets/volumes/VolumeMounts.Web/Components/Layout/NavMenu.razor.css
  docs/fundamentals/snippets/volumes/VolumeMounts.Web/Components/Pages/Counter.razor
  docs/fundamentals/snippets/volumes/VolumeMounts.Web/Components/Pages/Error.razor
  docs/fundamentals/snippets/volumes/VolumeMounts.Web/Components/Pages/Home.razor
  docs/fundamentals/snippets/volumes/VolumeMounts.Web/Components/Pages/Weather.razor
  docs/fundamentals/snippets/volumes/VolumeMounts.Web/Components/Routes.razor
  docs/fundamentals/snippets/volumes/VolumeMounts.Web/Components/_Imports.razor
  docs/fundamentals/snippets/volumes/VolumeMounts.Web/Program.cs
  docs/fundamentals/snippets/volumes/VolumeMounts.Web/Properties/launchSettings.json
  docs/fundamentals/snippets/volumes/VolumeMounts.Web/VolumeMounts.Web.csproj
  docs/fundamentals/snippets/volumes/VolumeMounts.Web/WeatherApiClient.cs
  docs/fundamentals/snippets/volumes/VolumeMounts.Web/appsettings.Development.json
  docs/fundamentals/snippets/volumes/VolumeMounts.Web/appsettings.json
  docs/fundamentals/snippets/volumes/VolumeMounts.Web/wwwroot/app.css
  docs/fundamentals/snippets/volumes/VolumeMounts.Web/wwwroot/bootstrap/bootstrap.min.css
  docs/fundamentals/snippets/volumes/VolumeMounts.Web/wwwroot/bootstrap/bootstrap.min.css.map
  docs/fundamentals/snippets/volumes/VolumeMounts.Web/wwwroot/favicon.png
  docs/fundamentals/snippets/volumes/VolumeMounts.sln
Labels: fundamentals

#749 Update the nodejs content to align with the recent updates to the sample
  docs/get-started/build-aspire-apps-with-nodejs.md
  docs/get-started/media/react-app.png
  docs/get-started/media/vue-app.png
Labels: getting-started

#764 Fix link md
  docs/caching/stackexchange-redis-distributed-caching-component.md
Labels: caching

#778 Update health-checks verbiage
  docs/fundamentals/health-checks.md
Labels: fundamentals

#783 Add dashboard standalone documentation
  docs/fundamentals/dashboard/media/standalone/aspire-dashboard-container-log.png
  docs/fundamentals/dashboard/overview.md
  docs/fundamentals/dashboard/standalone.md
  docs/toc.yml
Labels: fundamentals

#785 nit: fixed spelling
  docs/get-started/build-aspire-apps-with-nodejs.md
Labels: getting-started
