Repository dotnet/docs-aspire, pull requests merged in 2024-06, with the labels that each got.

#1017 Correct Service Bus tracing details.
  docs/messaging/azure-service-bus-component.md
Labels: messaging

#1022 Update cookie auth details.
  docs/fundamentals/dashboard/explore.md
  docs/fundamentals/dashboard/security-considerations.md
Labels: fundamentals

#1031 Add external HTTP and update corresponding content.
  docs/get-started/add-aspire-existing-app.md
Labels: getting-started

#1032 Remove .NET CLI command that was mistakenly included.
  docs/get-started/add-aspire-existing-app.md
Labels: getting-started

#1033 Add details about container runtime args.
  docs/fundamentals/app-host-overview.md
Labels: fundamentals

#1035 Adds parameters to app host usage examples, where applicable
  docs/database/includes/postgresql-explicit-username-password.md
  docs/database/mysql-component.md
  docs/database/oracle-entity-framework-component.md
  docs/database/postgresql-component.md
  docs/database/postgresql-entity-framework-component.md
  docs/database/qdrant-component.md
  docs/database/sql-server-component.md
  docs/messaging/rabbitmq-client-component.md
Labels: database, messaging

#1036 Add info about required middleware to health checks.
  docs/fundamentals/health-checks.md
Labels: fundamentals

#1042 Update KeyVault usage documentation
  docs/security/azure-security-key-vault-component.md
Labels: security

#1045 Minor clean up
  docs/storage/azure-storage-components.md
Labels: storage

#1044 Update and correct hosting bits.
  docs/caching/caching-components.md
Labels: caching

#1046 Add missing code, and add flexible PostgreSQL
  docs/azureai/azureai-openai-component.md
  docs/azureai/azureai-search-document-component.md
  docs/caching/stackexchange-redis-component.md
  docs/caching/stackexchange-redis-distributed-caching-component.md
  docs/caching/stackexchange-redis-output-caching-component.md
  docs/database/azure-cosmos-db-component.md
  docs/database/azure-cosmos-db-entity-framework-component.md
  docs/database/includes/postgresql-flexible-server.md
  docs/database/mongodb-component.md
  docs/database/mysql-component.md
  docs/database/mysql-entity-framework-component.md
  docs/database/oracle-entity-framework-component.md
  docs/database/postgresql-component.md
  docs/database/postgresql-entity-framework-component.md
  docs/database/qdrant-component.md
  docs/database/sql-server-component.md
  docs/database/sql-server-entity-framework-component.md
  docs/fundamentals/app-host-overview.md
  docs/logging/seq-component.md
  docs/messaging/azure-event-hubs-component.md
  docs/messaging/azure-service-bus-component.md
  docs/messaging/kafka-component.md
  docs/messaging/nats-component.md
  docs/messaging/rabbitmq-client-component.md
  docs/security/azure-security-key-vault-component.md
  docs/storage/azure-storage-blobs-component.md
  docs/storage/azure-storage-queues-component.md
  docs/storage/azure-storage-tables-component.md
Labels: storage, database, messaging, caching, security

#1043 Add VS Code bits and fix errors
  docs/media/messaging-project.png
  docs/messaging/media/vscode-add-nuget-package.png
  docs/messaging/media/vscode-add-project-reference.png
  docs/messaging/media/vscode-add-project.png
  docs/messaging/media/vscode-create-worker.png
  docs/messaging/media/vscode-select-worker.png
  docs/messaging/messaging-components.md
Labels: messaging

#1052 remove out of date docs
  docs/deployment/azure/aca-deployment-azd-in-depth.md
  docs/deployment/azure/includes/init-workflow.md
Labels: deployment

#1057 Fix RabbitMQ docs usage of AddRabbitMQ for connection string based connection
  docs/azureai/azureai-openai-component.md
  docs/messaging/rabbitmq-client-component.md
  docs/whats-new/preview-7.md
Labels: messaging

#1061 Remove invalid trailing comma in config example
  docs/deployment/azure/local-provisioning.md
Labels: deployment

#1064 Add an overview of Stack Exchange Redis caching
  docs/caching/caching-components-deployment.md
  docs/caching/caching-components.md
  docs/caching/includes/redis-app-host.md
  docs/caching/stackexchange-redis-caching-overview.md
  docs/caching/stackexchange-redis-component.md
  docs/caching/stackexchange-redis-distributed-caching-component.md
  docs/caching/stackexchange-redis-output-caching-component.md
  docs/index.yml
  docs/toc.yml
  docs/whats-new/dotnet-docs-aspire-mod1.md
  docs/whats-new/dotnet-docs-aspire-mod2.md
Labels: caching

#1060 Add new article: Use custom Bicep templates
  docs/deployment/azure/custom-bicep-templates.md
  docs/deployment/azure/snippets/AppHost.Bicep/AppHost.Bicep.csproj
  docs/deployment/azure/snippets/AppHost.Bicep/AppHost.Bicep.sln
  docs/deployment/azure/snippets/AppHost.Bicep/Program.GetOutputReference.cs
  docs/deployment/azure/snippets/AppHost.Bicep/Program.InlineBicep.cs
  docs/deployment/azure/snippets/AppHost.Bicep/Program.PassParameter.cs
  docs/deployment/azure/snippets/AppHost.Bicep/Program.ReferenceBicep.cs
  docs/deployment/azure/snippets/AppHost.Bicep/Program.cs
  docs/deployment/azure/snippets/AppHost.Bicep/Properties/launchSettings.json
  docs/deployment/azure/snippets/AppHost.Bicep/appsettings.Development.json
  docs/deployment/azure/snippets/AppHost.Bicep/appsettings.json
  docs/deployment/azure/snippets/AppHost.Bicep/cosmosdb.bicep
  docs/deployment/azure/snippets/AppHost.Bicep/event-grid-webhook.bicep
  docs/deployment/azure/snippets/AppHost.Bicep/storage-out.bicep
  docs/deployment/azure/snippets/AppHost.Bicep/storage.bicep
  docs/deployment/azure/snippets/WebHook.Api/Program.cs
  docs/deployment/azure/snippets/WebHook.Api/Properties/launchSettings.json
  docs/deployment/azure/snippets/WebHook.Api/WebHook.Api.csproj
  docs/deployment/azure/snippets/WebHook.Api/WebHook.Api.http
  docs/deployment/azure/snippets/WebHook.Api/appsettings.Development.json
  docs/deployment/azure/snippets/WebHook.Api/appsettings.json
  docs/toc.yml
Labels: deployment

#1087 Add details about trusting dev-cert
  docs/get-started/build-your-first-aspire-app.md
  docs/troubleshooting/untrusted-localhost-certificate.md
Labels: getting-started

#1091 Fix OutputCache typos
  docs/fundamentals/health-checks.md
Labels: fundamentals

#1096 update GA on aspire :)
  docs/reference/aspire-faq.yml
Labels: reference

#1101 Update build-your-first-aspire-app.md - app -> project
  docs/get-started/build-your-first-aspire-app.md
  docs/toc.yml
Labels: getting-started

#1105 purge app except app host
  docs/caching/caching-components-deployment.md
  docs/caching/stackexchange-redis-caching-overview.md
  docs/database/ef-core-migrations.md
  docs/database/seed-database-data.md
  docs/database/sql-server-component-deployment.md
  docs/database/sql-server-components.md
  docs/deployment/azure/aca-deployment-azd-in-depth.md
  docs/deployment/azure/aca-deployment-github-actions.md
  docs/deployment/azure/aca-deployment-visual-studio.md
  docs/deployment/azure/aca-deployment.md
  docs/deployment/azure/application-insights.md
  docs/deployment/azure/custom-bicep-templates.md
  docs/deployment/azure/includes/aca-bicep-cli-shared-steps.md
  docs/deployment/azure/includes/test-deployed-app.md
  docs/deployment/manifest-format.md
  docs/deployment/overview.md
  docs/extensibility/custom-resources.md
  docs/frameworks/dapr.md
  docs/frameworks/orleans.md
  docs/fundamentals/app-host-overview.md
  docs/fundamentals/components-overview.md
  docs/fundamentals/dashboard/explore.md
  docs/fundamentals/dashboard/overview.md
  docs/fundamentals/launch-profiles.md
  docs/fundamentals/persist-data-volumes.md
  docs/fundamentals/setup-tooling.md
  docs/fundamentals/telemetry.md
  docs/fundamentals/testing.md
  docs/get-started/add-aspire-existing-app.md
  docs/get-started/aspire-overview.md
  docs/get-started/build-aspire-apps-with-nodejs.md
  docs/includes/visual-studio-file-new.md
  docs/messaging/messaging-components.md
  docs/real-time/azure-signalr-scenario.md
  docs/reference/aspire-faq.yml
  docs/service-discovery/overview.md
  docs/storage/azure-storage-components.md
  docs/toc.yml
  docs/troubleshooting/allow-unsecure-transport.md
  docs/troubleshooting/name-is-already-in-use.md
  docs/whats-new/dotnet-docs-aspire-mod0.md
  docs/whats-new/dotnet-docs-aspire-mod1.md
  docs/whats-new/dotnet-docs-aspire-mod2.md
  docs/whats-new/preview-3.md
  docs/whats-new/preview-4.md
  docs/whats-new/preview-5.md
  docs/whats-new/preview-6.md
Labels: storage, database, messaging, caching, deployment, getting-started, fundamentals, reference

#1104 Add an include about resource naming.
  docs/deployment/azure/aca-deployment-azd-in-depth.md
  docs/deployment/azure/aca-deployment-github-actions.md
  docs/deployment/azure/aca-deployment-visual-studio.md
  docs/deployment/azure/aca-deployment.md
  docs/includes/azure-container-app-naming.md
Labels: deployment

#1148 Matched the App host Redis reference to the consuming project
  docs/caching/stackexchange-redis-distributed-caching-component.md
Labels: caching

#1157 Prefer 1ES policies
  .github/policies/auto-merge.yml
  .github/policies/label-issues.yml
  .github/policies/label-prs.yml
  .github/policies/scheduled-prs.yml
  .github/workflows/dependabot-approve-and-automerge.yml
  .github/workflows/merge-main-to-live.yml
Labels: ⚙️ repo-maintenance

#1160 Auto merge
  .github/policies/label-prs.yml
Labels: ⚙️ repo-maintenance
