Repository dotnet/docs-aspire, pull requests merged in 2024-01, with the labels that each got.

#274 Remove Container methods from AppHost docs
  docs/caching/caching-components.md
  docs/caching/stackexchange-redis-component.md
  docs/caching/stackexchange-redis-distributed-caching-component.md
  docs/caching/stackexchange-redis-output-caching-component.md
  docs/database/mongodb-component.md
  docs/database/mysql-component.md
  docs/database/postgresql-component.md
  docs/database/postgresql-entity-framework-component.md
  docs/database/snippets/tutorial/aspiresqlefcore/AspireSQLEFCore.AppHost/Program.cs
  docs/database/sql-server-component.md
  docs/database/sql-server-entity-framework-component.md
  docs/deployment/azure/aca-deployment-azd-in-depth.md
  docs/deployment/azure/application-insights.md
  docs/deployment/manifest-format.md
  docs/fundamentals/app-host-overview.md
  docs/fundamentals/components-overview.md
  docs/fundamentals/snippets/components/AspireApp/AspireApp.AppHost/Program.cs
  docs/get-started/aspire-overview.md
  docs/get-started/build-your-first-aspire-app.md
  docs/get-started/snippets/quickstart/AspireSample/AspireSample.AppHost/Program.cs
  docs/messaging/rabbitmq-client-component.md
Labels: database, messaging, caching, deployment, getting-started, fundamentals

#290 Fix spacing issue between command and word
  docs/deployment/azure/includes/aca-deployment-azd.md
Labels: deployment

#293 New Cache tutorial
  docs/caching/caching-components.md
Labels: caching

#279 Inner loop networking article
  docs/fundamentals/media/networking/networking-proxies-1x.png
  docs/fundamentals/media/networking/networking-proxies.excalidraw
  docs/fundamentals/media/networking/networking-proxies.png
  docs/fundamentals/media/networking/proxy-host-port-and-random-port-1x.png
  docs/fundamentals/media/networking/proxy-host-port-and-random-port.png
  docs/fundamentals/media/networking/proxy-with-docker-port-mapping-1x.png
  docs/fundamentals/media/networking/proxy-with-docker-port-mapping.png
  docs/fundamentals/media/networking/proxy-with-env-var-port-1x.png
  docs/fundamentals/media/networking/proxy-with-env-var-port.png
  docs/fundamentals/media/networking/proxy-with-random-ports-1x.png
  docs/fundamentals/media/networking/proxy-with-random-ports.png
  docs/fundamentals/media/networking/proxy-with-replicas-1x.png
  docs/fundamentals/media/networking/proxy-with-replicas.png
  docs/fundamentals/networking-overview.md
  docs/fundamentals/snippets/networking/Networking.AppHost/Networking.AppHost.csproj
  docs/fundamentals/snippets/networking/Networking.AppHost/Program.ContainerPort.cs
  docs/fundamentals/snippets/networking/Networking.AppHost/Program.EnvVarPort.cs
  docs/fundamentals/snippets/networking/Networking.AppHost/Program.HostPortAndRandomPort.cs
  docs/fundamentals/snippets/networking/Networking.AppHost/Program.OmitHostPort.cs
  docs/fundamentals/snippets/networking/Networking.AppHost/Program.WithLaunchProfile.cs
  docs/fundamentals/snippets/networking/Networking.AppHost/Program.WithReplicas.cs
  docs/fundamentals/snippets/networking/Networking.AppHost/Program.cs
  docs/fundamentals/snippets/networking/Networking.AppHost/Properties/launchSettings.json
  docs/fundamentals/snippets/networking/Networking.AppHost/appsettings.Development.json
  docs/fundamentals/snippets/networking/Networking.AppHost/appsettings.json
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend.Client/Networking.Frontend.Client.csproj
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend.Client/Pages/Counter.razor
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend.Client/Program.cs
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend.Client/_Imports.razor
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend.Client/wwwroot/appsettings.Development.json
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend.Client/wwwroot/appsettings.json
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/Components/App.razor
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/Components/Layout/MainLayout.razor
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/Components/Layout/MainLayout.razor.css
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/Components/Layout/NavMenu.razor
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/Components/Layout/NavMenu.razor.css
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/Components/Pages/Error.razor
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/Components/Pages/Home.razor
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/Components/Pages/Weather.razor
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/Components/Routes.razor
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/Components/_Imports.razor
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/Networking.Frontend.csproj
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/Program.cs
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/Properties/launchSettings.json
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/appsettings.Development.json
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/appsettings.json
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/wwwroot/app.css
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/wwwroot/bootstrap/bootstrap.min.css
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/wwwroot/bootstrap/bootstrap.min.css.map
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/wwwroot/favicon.png
  docs/index.yml
  docs/toc.yml
Labels: fundamentals

#295 Update sql-server-component.md
  docs/database/sql-server-component.md
Labels: database

#297 Update messaging-components.md
  docs/messaging/messaging-components.md
Labels: messaging

#298 Update caching-components.md
  docs/caching/caching-components.md
Labels: caching

#305 .NET Aspire with Node.js content
  .openpublishing.publish.config.json
  docs/get-started/build-aspire-apps-with-nodejs.md
  docs/get-started/media/angular-app.png
  docs/get-started/media/aspire-dashboard-with-nodejs.png
  docs/get-started/media/react-app.png
  docs/get-started/media/vue-app.png
  docs/index.yml
  docs/toc.yml
Labels: getting-started

#315 Restructure components, and add Azure hosting bits
  docs/caching/stackexchange-redis-component.md
  docs/caching/stackexchange-redis-distributed-caching-component.md
  docs/caching/stackexchange-redis-output-caching-component.md
  docs/database/azure-cosmos-db-component.md
  docs/database/azure-cosmos-db-entity-framework-component.md
  docs/database/mongodb-component.md
  docs/database/mysql-component.md
  docs/database/postgresql-component.md
  docs/database/postgresql-entity-framework-component.md
  docs/database/sql-server-component.md
  docs/database/sql-server-components.md
  docs/database/sql-server-entity-framework-component.md
  docs/fundamentals/components-overview.md
  docs/get-started/aspire-overview.md
  docs/includes/azure-component-nuget.md
  docs/messaging/azure-service-bus-component.md
  docs/messaging/messaging-components.md
  docs/messaging/rabbitmq-client-component.md
  docs/security/azure-security-key-vault-component.md
  docs/storage/azure-storage-blobs-component.md
  docs/storage/azure-storage-components.md
  docs/storage/azure-storage-queues-component.md
  docs/storage/azure-storage-tables-component.md
Labels: storage, database, messaging, caching, security

#328 update Angular Aspire description to match the sample
  docs/get-started/build-aspire-apps-with-nodejs.md
Labels: getting-started

#330 Fixed run -> build in sample
  docs/deployment/manifest-format.md
Labels: deployment

#327 volume mount
  docs/fundamentals/persist-data-volumes.md
  docs/toc.yml
Labels: fundamentals

#331 fix mongodb link
  docs/fundamentals/components-overview.md
Labels: fundamentals

#333 Add FAQ from Aspire discussion
  docs/reference/aspire-faq.yml
Labels: reference
