Repository dotnet/docs-aspire, pull requests merged in 2024-11, with the labels that each got.

#2000 Update configuration.md
  docs/fundamentals/dashboard/configuration.md
Labels: community-contribution

#2008 Fix typo in secure-communication-between-integrations.md
  docs/extensibility/secure-communication-between-integrations.md
Labels: community-contribution

#1995 Create community toolkit docs request issue template
  .github/ISSUE_TEMPLATE/05-community-toolkit-docs-request.yml
Labels: community-contribution

#2023 Custom GitHub Actions, or actions not within the Marketplace are not …
  .github/workflows/check-for-build-warnings.yml
  .github/workflows/clean-repo.yml
  .github/workflows/create-monthly-issues.yml
  .github/workflows/dependabot-bot.yml
  .github/workflows/no-response.yml
  .github/workflows/profanity-filter.yml
  .github/workflows/quest-bulk.yml
  .github/workflows/quest.yml
  .github/workflows/version-sweep.yml
  .github/workflows/whats-new-automation.yml
Labels: ⚙️ repo-maintenance

#2044 Fix incorrect code snippet for Redis Insight
  docs/caching/includes/redis-app-host.md
Labels: community-contribution

#2043 Update custom resource commands section of aspire 9 docs page
  docs/whats-new/dotnet-aspire-9.md
Labels: community-contribution

#2039 Remove extra markdown section from community-toolkit-docs-request issue template
  .github/ISSUE_TEMPLATE/05-community-toolkit-docs-request.yml
Labels: community-contribution

#2084 Add xref to a few places, now that they're indexed
  docs/app-host/eventing.md
  docs/fundamentals/app-host-overview.md
  docs/index.yml
  docs/serverless/functions.md
  docs/toc.yml
  docs/whats-new/dotnet-aspire-9.md
Labels: fundamentals, okr-quality

#2087 Correct Aspire V8 naming change code
  docs/compatibility/9.0/azure-resource-name-scheme.md
  docs/whats-new/dotnet-aspire-9.md
Labels: community-contribution

#2082 add link to functions integration
  docs/reference/aspire-faq.yml
Labels: reference

#1896 Add Deno hosting documentation
  docs/community-toolkit/hosting-deno.md
  docs/fundamentals/integrations-overview.md
  docs/toc.yml
Labels: community-contribution

#2097 correct linking in RabbitMQ integration docs
  docs/messaging/rabbitmq-integration.md
Labels: messaging, community-contribution

#2040 add SQL Database Projects integration docs
  docs/community-toolkit/hosting-sql-database-projects.md
  docs/fundamentals/integrations-overview.md
  docs/toc.yml
Labels: community-contribution

#2092 Overhaul of the Ollama docs
  docs/community-toolkit/ollama.md
Labels: community-contribution

#2041 Add Rust hosting docs
  docs/community-toolkit/hosting-rust.md
  docs/community-toolkit/overview.md
  docs/fundamentals/integrations-overview.md
  docs/toc.yml
Labels: community-contribution

#2127 Updates golang doc
  docs/community-toolkit/hosting-golang.md
Labels: community-contribution

#2129 Article for dab
  docs/community-toolkit/hosting-data-api-builder.md
  docs/toc.yml
Labels: community-contribution

#2132 Fix how to specify kafka ui host port
  docs/messaging/kafka-integration.md
Labels: messaging, community-contribution

#2139 Fix copy paste error
  docs/database/includes/postgresql-app-host.md
Labels: database, community-contribution

#2130 Shorten questions and fix issues with rendering.
  docs/reference/aspire-faq.yml
  docs/toc.yml
Labels: reference, okr-quality

#2086 Rewrite SQL Server integration
  docs/database/includes/media/ads-connect-details.png
  docs/database/includes/media/ads-connected.png
  docs/database/includes/media/ads-new-connection.png
  docs/database/includes/media/ssms-connected.png
  docs/database/includes/media/ssms-new-connection.png
  docs/database/includes/sql-app-host.md
  docs/database/sql-server-integration.md
  docs/fundamentals/app-host-overview.md
Labels: database, okr-quality

#2131 Update dotnet-cli-file-new.md
  docs/includes/dotnet-cli-file-new.md
Labels: community-contribution

#2140 Misc fixes
  docs/authentication/keycloak-integration.md
  docs/azureai/azureai-openai-integration.md
  docs/azureai/azureai-search-document-integration.md
  docs/caching/includes/garnet-app-host.md
  docs/caching/includes/redis-app-host.md
  docs/caching/includes/valkey-app-host.md
  docs/community-toolkit/hosting-data-api-builder.md
  docs/database/azure-cosmos-db-entity-framework-integration.md
  docs/database/azure-cosmos-db-integration.md
  docs/database/includes/mysql-app-host.md
  docs/database/includes/postgresql-app-host.md
  docs/database/milvus-integration.md
  docs/database/mongodb-integration.md
  docs/database/oracle-entity-framework-integration.md
  docs/database/qdrant-integration.md
  docs/fundamentals/dashboard/security-considerations.md
  docs/get-started/build-aspire-apps-with-nodejs.md
  docs/logging/seq-integration.md
  docs/messaging/azure-event-hubs-integration.md
  docs/messaging/azure-service-bus-integration.md
  docs/messaging/azure-web-pubsub-integration.md
  docs/search/elasticsearch-integration.md
  docs/security/azure-security-key-vault-integration.md
  docs/storage/azure-storage-blobs-integration.md
  docs/storage/azure-storage-queues-integration.md
  docs/storage/azure-storage-tables-integration.md
Labels: storage, database, messaging, caching, security, fundamentals, :octocat: auto-merge, okr-quality, okr-health

#2143 CommunityToolkit docs for EventStore integration
  docs/community-toolkit/hosting-eventstore.md
  docs/toc.yml
Labels: community-contribution

#2141 Add app host configuration page
  docs/app-host/configuration.md
  docs/fundamentals/dashboard/configuration.md
  docs/fundamentals/launch-profiles.md
  docs/toc.yml
Labels: fundamentals

#2152 Add note about WaitFor to Cosmos docs.
  docs/database/azure-cosmos-db-integration.md
Labels: database
