Repository dotnet/docs-aspire, pull requests merged in 2024-09, with the labels that each got.

#1561 Python + Aspire Dashboard docs
  docs/fundamentals/dashboard/includes/standalone/virtual-environment-setup.md
  docs/fundamentals/dashboard/media/standalone/aspire-dashboard-python-logs.png
  docs/fundamentals/dashboard/media/standalone/run-fastapi-app-localhost.png
  docs/fundamentals/dashboard/media/standalone/run-flask-app-localhost.png
  docs/fundamentals/dashboard/standalone-for-python.md
  docs/toc.yml
Labels: caching, fundamentals, community-contribution

#1580 Sunnynagao/removedotnetcomment
  docs/fundamentals/setup-tooling.md
Labels: fundamentals, community-contribution

#1603 Add PgAdmin in postgresql integration
  docs/database/includes/postgresql-pgadmin.md
  docs/database/postgresql-entity-framework-integration.md
  docs/database/postgresql-integration.md
Labels: database, community-contribution

#1607 Initial updates
  docs/fundamentals/snippets/testing/mstest/AspireApp.ApiService/Properties/launchSettings.json
  docs/fundamentals/snippets/testing/mstest/AspireApp.AppHost/AspireApp.AppHost.csproj
  docs/fundamentals/snippets/testing/mstest/AspireApp.AppHost/Program.cs
  docs/fundamentals/snippets/testing/mstest/AspireApp.AppHost/Properties/launchSettings.json
  docs/fundamentals/snippets/testing/mstest/AspireApp.Tests/AspireApp.Tests.csproj
  docs/fundamentals/snippets/testing/mstest/AspireApp.Tests/EnvVarTests.cs
  docs/fundamentals/snippets/testing/mstest/AspireApp.Tests/WebTests.cs
  docs/fundamentals/snippets/testing/mstest/AspireApp.Web/AspireApp.Web.csproj
  docs/fundamentals/snippets/testing/mstest/AspireApp.Web/Program.cs
  docs/fundamentals/snippets/testing/mstest/AspireApp.Web/Properties/launchSettings.json
  docs/fundamentals/snippets/testing/mstest/AspireApp.Web/wwwroot/app.css
  docs/fundamentals/snippets/testing/mstest/AspireApp.sln
  docs/fundamentals/snippets/testing/nunit/AspireApp.ApiService/Properties/launchSettings.json
  docs/fundamentals/snippets/testing/nunit/AspireApp.AppHost/AspireApp.AppHost.csproj
  docs/fundamentals/snippets/testing/nunit/AspireApp.AppHost/Program.cs
  docs/fundamentals/snippets/testing/nunit/AspireApp.AppHost/Properties/launchSettings.json
  docs/fundamentals/snippets/testing/nunit/AspireApp.Tests/AspireApp.Tests.csproj
  docs/fundamentals/snippets/testing/nunit/AspireApp.Tests/EnvVarTests.cs
  docs/fundamentals/snippets/testing/nunit/AspireApp.Tests/WebTests.cs
  docs/fundamentals/snippets/testing/nunit/AspireApp.Web/AspireApp.Web.csproj
  docs/fundamentals/snippets/testing/nunit/AspireApp.Web/Program.cs
  docs/fundamentals/snippets/testing/nunit/AspireApp.Web/Properties/launchSettings.json
  docs/fundamentals/snippets/testing/nunit/AspireApp.Web/wwwroot/app.css
  docs/fundamentals/snippets/testing/nunit/AspireApp.sln
  docs/fundamentals/snippets/testing/xunit/AspireApp.ApiService/Properties/launchSettings.json
  docs/fundamentals/snippets/testing/xunit/AspireApp.AppHost/AspireApp.AppHost.csproj
  docs/fundamentals/snippets/testing/xunit/AspireApp.AppHost/Program.cs
  docs/fundamentals/snippets/testing/xunit/AspireApp.AppHost/Properties/launchSettings.json
  docs/fundamentals/snippets/testing/xunit/AspireApp.Tests/AspireApp.Tests.csproj
  docs/fundamentals/snippets/testing/xunit/AspireApp.Tests/EnvVarTests.cs
  docs/fundamentals/snippets/testing/xunit/AspireApp.Tests/WebTests.cs
  docs/fundamentals/snippets/testing/xunit/AspireApp.Web/AspireApp.Web.csproj
  docs/fundamentals/snippets/testing/xunit/AspireApp.Web/Program.cs
  docs/fundamentals/snippets/testing/xunit/AspireApp.Web/Properties/launchSettings.json
  docs/fundamentals/snippets/testing/xunit/AspireApp.Web/wwwroot/app.css
  docs/fundamentals/snippets/testing/xunit/AspireApp.sln
  docs/fundamentals/testing.md
Labels: fundamentals, okr-freshness

#1604 Added text visualizer details.
  docs/fundamentals/dashboard/explore.md
  docs/fundamentals/dashboard/media/explore/text-visualizer-resources.png
  docs/fundamentals/dashboard/media/explore/text-visualizer-selection-menu.png
Labels: fundamentals, okr-freshness

#1606 Add FAQ style details regarding IIS.
  docs/reference/aspire-faq.yml
  docs/toc.yml
Labels: reference, okr-freshness

#1616 Added OTLP dashboard bits
  docs/fundamentals/dashboard/configuration.md
Labels: fundamentals, okr-freshness

#1646 More JavaScript content
  docs/get-started/build-aspire-apps-with-nodejs.md
  docs/toc.yml
Labels: getting-started, okr-freshness

#1665 Fix spelling error in the article about Application Insights
  docs/deployment/azure/application-insights.md
Labels: deployment, community-contribution

#1648 Restructure TOC and address "integration" messaging
  .openpublishing.redirection.json
  docs/deployment/azure/local-provisioning.md
  docs/deployment/media/manifest-placeholder-strings.excalidraw
  docs/deployment/media/manifest-placeholder-strings.png
  docs/extensibility/custom-client-integration.md
  docs/extensibility/custom-hosting-integration.md
  docs/extensibility/secure-communication-between-integrations.md
  docs/fundamentals/app-host-overview.md
  docs/fundamentals/integrations-overview.md
  docs/fundamentals/media/icons/AWS.png
  docs/fundamentals/media/icons/AzureAppConfig_256x.png
  docs/fundamentals/media/icons/AzureAppInsights_256x.png
  docs/fundamentals/media/icons/AzureCacheRedis_256x.png
  docs/fundamentals/media/icons/AzureLogAnalytics_256x.png
  docs/fundamentals/media/icons/AzurePostgreSQL_256x.png
  docs/fundamentals/media/icons/AzureSignalR_256x.png
  docs/fundamentals/media/icons/AzureSqlServer_256x.png
  docs/fundamentals/media/icons/Azure_256x.png
  docs/fundamentals/media/integrations-thumb.png
  docs/fundamentals/media/integrations.excalidraw
  docs/fundamentals/media/integrations.png
  docs/index.yml
  docs/media/app-host-resource-diagram.excalidraw
  docs/toc.yml
Labels: fundamentals, okr-quality

#1691 Add details supporting existing resources
  docs/fundamentals/app-host-overview.md
Labels: fundamentals, okr-freshness

#1693 Remove logos from tables until we clarify permissions
  docs/fundamentals/integrations-overview.md
Labels: fundamentals, okr-freshness

#1695 Fix SFI image issues
  docs/deployment/azure/media/azure-pipeline-run-details.png
  docs/deployment/azure/media/deployment-links.png
  docs/deployment/azure/media/pipeline-configuration.png
  docs/deployment/media/app-insights-connection-string.png
  docs/deployment/media/visual-studio-deploy-complete.png
Labels: deployment

#1698 Update Azure Cosmos DB integration doc
  docs/database/azure-cosmos-db-integration.md
Labels: database, community-contribution

#1702 Addressing several issues
  docs/azureai/azureai-openai-integration.md
  docs/fundamentals/app-host-overview.md
  docs/fundamentals/external-parameters.md
  docs/get-started/aspire-overview.md
  docs/get-started/build-your-first-aspire-app.md
  docs/toc.yml
Labels: getting-started, fundamentals, okr-quality, okr-freshness, okr-health
