Repository dotnet/docs-aspire, pull requests merged in 2024-07, with the labels that each got.

#1169 Remove references to previews and ensure content is up-to-date
  docs/reference/aspire-faq.yml
Labels: reference

#1170 Add missing connection string sections.
  docs/database/azure-cosmos-db-component.md
  docs/database/mysql-entity-framework-component.md
  docs/database/oracle-entity-framework-component.md
  docs/database/postgresql-component.md
  docs/database/postgresql-entity-framework-component.md
  docs/database/sql-server-component.md
  docs/database/sql-server-entity-framework-component.md
Labels: database

#1252 Dashboard telemetry limit scopes
  docs/fundamentals/dashboard/configuration.md
Labels: fundamentals

#1255 Add missing details about provision.
  docs/deployment/azure/aca-deployment-github-actions.md
Labels: deployment

#1352 Remove duplicate log category
  docs/database/sql-server-entity-framework-component.md
Labels: database, community-contribution

#1358 Fix typo
  docs/fundamentals/persist-data-volumes.md
Labels: fundamentals, community-contribution

#1356 WithContainerRunArgs --> WithContainerRuntimeArgs
  docs/fundamentals/app-host-overview.md
Labels: fundamentals, community-contribution

#1369 Fix typo
  docs/fundamentals/components-overview.md
Labels: fundamentals, community-contribution

#1368 Fix missing word + couple typos
  docs/extensibility/custom-resources.md
Labels: community-contribution

#1373 Adjust code snippets
  docs/database/seed-database-data.md
Labels: database, community-contribution

#1376 Explicitly define each target project install for NuGet
  docs/azureai/azureai-openai-component.md
  docs/azureai/azureai-search-document-component.md
  docs/caching/includes/redis-app-host.md
  docs/caching/stackexchange-redis-component.md
  docs/caching/stackexchange-redis-distributed-caching-component.md
  docs/caching/stackexchange-redis-output-caching-component.md
  docs/database/azure-cosmos-db-component.md
  docs/database/azure-cosmos-db-entity-framework-component.md
  docs/database/includes/mysql-app-host.md
  docs/database/includes/postgresql-app-host.md
  docs/database/includes/sql-app-host.md
  docs/database/mongodb-component.md
  docs/database/mysql-entity-framework-component.md
  docs/database/oracle-entity-framework-component.md
  docs/database/postgresql-component.md
  docs/database/postgresql-entity-framework-component.md
  docs/database/qdrant-component.md
  docs/database/sql-server-component.md
  docs/database/sql-server-entity-framework-component.md
  docs/fundamentals/app-host-overview.md
  docs/logging/seq-component.md
  docs/messaging/azure-event-hubs-component.md
  docs/messaging/azure-service-bus-component.md
  docs/messaging/kafka-component.md
  docs/messaging/nats-component.md
  docs/messaging/rabbitmq-client-component.md
  docs/security/azure-security-key-vault-component.md
  docs/storage/azure-storage-blobs-component.md
  docs/storage/azure-storage-queues-component.md
  docs/storage/azure-storage-tables-component.md
Labels: storage, database, messaging, caching, security, fundamentals

#1385 Fix nats link
  docs/messaging/nats-component.md
Labels: messaging

#1395 Fix supported -> support typo
  docs/deployment/azure/aca-deployment-azd-in-depth.md
Labels: deployment, community-contribution

#1399 Add missing resources from new hosting packages
  docs/fundamentals/app-host-overview.md
Labels: fundamentals

#1401 Kafka UI mention.
  docs/messaging/kafka-component.md
Labels: messaging

#1408 Add DOTNET_DASHBOARD_OTLP_HTTP_ENDPOINT_URL config docs
  docs/fundamentals/dashboard/configuration.md
Labels: fundamentals

#1413 Add a few more bits about the callback overload.
  docs/fundamentals/networking-overview.md
Labels: fundamentals

#1414 Address UUF issues for Azure Key Vault content
  docs/security/azure-security-key-vault-component.md
Labels: security

#1410 Update to MongoDB Component Doc
  docs/database/mongodb-component.md
Labels: database, community-contribution

#1423 Updated line that was changed incorrectly
  docs/database/mongodb-component.md
Labels: database, community-contribution

#1420 Update build-aspire-apps-with-python.md
  docs/get-started/build-aspire-apps-with-python.md
Labels: getting-started, community-contribution

#1439 Fix code section closing tag
  docs/database/mongodb-component.md
Labels: database, community-contribution

#1440 Networking refinements
  docs/fundamentals/launch-profiles.md
  docs/fundamentals/networking-overview.md
  docs/fundamentals/snippets/networking/Networking.AppHost/Program.EndpointFilter.cs
  docs/fundamentals/snippets/networking/Networking.AppHost/Program.KestrelConfiguration.cs
  docs/fundamentals/snippets/networking/Networking.AppHost/Program.cs
  docs/fundamentals/snippets/networking/Networking.AppHost/Properties/launchSettings.json
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/Program.cs
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/Properties/launchSettings.json
  docs/fundamentals/snippets/networking/Networking.Frontend/Networking.Frontend/appsettings.Development.json
  docs/toc.yml
Labels: fundamentals
