Repository dotnet/docs-aspire, pull requests merged in 2025-03, with the labels that each got.

#2713 Create do-not-merge-label-check.yml
  .github/workflows/do-not-merge-label-check.yml
Labels: ⚙️ repo-maintenance

#2673 Add data volumes and persistence to the EF Core tutorial.
  docs/database/sql-server-integrations.md
Labels: database, community-contribution

#2711 Add platform id to feedback template
  .github/ISSUE_TEMPLATE/z-customer-feedback.yml
Labels: community-contribution

#2718 Several new docs from the Community Toolkit
  docs/community-toolkit/hosting-mongodb-extensions.md
  docs/community-toolkit/hosting-postgresql-extensions.md
  docs/community-toolkit/hosting-redis-extensions.md
  docs/community-toolkit/hosting-sqlserver-extensions.md
  docs/community-toolkit/includes/sqlite-hosting.md
  docs/community-toolkit/overview.md
  docs/community-toolkit/sqlite-entity-framework-integration.md
  docs/community-toolkit/sqlite.md
  docs/toc.yml
Labels: community-contribution

#2707 adjust variable names for existing resource example
  docs/whats-new/dotnet-aspire-9.1.md
Labels: community-contribution

#2716 Update add-aspire-existing-app.md
  docs/get-started/add-aspire-existing-app.md
Labels: getting-started

#2717 Add FAQ about local dev and client integrations
  docs/reference/aspire-faq.yml
Labels: reference, okr-quality

#2773 Fix code snippets
  docs/testing/manage-app-host.md
Labels: community-contribution

#2772 Update keycloak-integration.md
  docs/authentication/keycloak-integration.md
Labels: okr-quality

#2722 Rewrite the .NET Aspire Azure OpenAI integration article
  docs/azureai/azureai-openai-integration.md
  docs/caching/includes/redis-client-json-settings.md
  docs/caching/includes/redis-distributed-client-json-settings.md
  docs/caching/includes/redis-output-client-json-settings.md
  docs/database/azure-cosmos-db-entity-framework-integration.md
  docs/database/azure-cosmos-db-integration.md
  docs/database/includes/postgresql-client.md
  docs/database/includes/postgresql-ef-client.md
  docs/database/milvus-integration.md
  docs/database/qdrant-integration.md
  docs/logging/seq-integration.md
  docs/messaging/azure-service-bus-integration.md
  docs/messaging/kafka-integration.md
  docs/messaging/nats-integration.md
  docs/messaging/rabbitmq-integration.md
  docs/search/elasticsearch-integration.md
  docs/security/azure-security-key-vault-integration.md
  docs/snippets/azure/AppHost/Program.ConfigureOpenAIInfra.cs
  docs/snippets/azure/AppHost/Program.cs
  docs/snippets/azure/AppHost/openai.module.bicep
  docs/storage/azure-storage-blobs-integration.md
  docs/storage/azure-storage-queues-integration.md
  docs/storage/azure-storage-tables-integration.md
  docs/toc.yml
Labels: storage, database, messaging, caching, security, okr-quality

#2766 Rewrote the .NET Aspire Azure AI Search doc
  docs/azureai/azureai-search-document-integration.md
  docs/snippets/azure/AppHost/Program.ConfigureSearchInfra.cs
  docs/toc.yml
Labels: okr-quality

#2778 Update Azure Postgres code
  docs/database/includes/azure-postgresql-client.md
  docs/database/includes/azure-postgresql-ef-client.md
Labels: database

#2786 Adjust install content to put templates in front
  docs/fundamentals/app-host-overview.md
  docs/fundamentals/aspire-sdk-templates.md
  docs/fundamentals/setup-tooling.md
  docs/includes/dotnet-cli-file-new.md
Labels: fundamentals, okr-quality

#2785 Add details about testing
  docs/testing/media/testing-diagram-thumb.png
  docs/testing/media/testing-diagram.excalidraw
  docs/testing/media/testing-diagram.png
  docs/testing/overview.md
Labels: okr-quality

#2841 missing a semicolon in sql-server-entity-framework-integration.md
  docs/database/sql-server-entity-framework-integration.md
Labels: database, community-contribution

#2781 Rewrite the Azure Web PubSub content
  docfx.json
  docs/azureai/azureai-openai-integration.md
  docs/azureai/azureai-search-document-integration.md
  docs/caching/includes/azure-redis-app-host.md
  docs/database/includes/cosmos-app-host.md
  docs/database/includes/postgresql-flexible-server.md
  docs/messaging/azure-event-hubs-integration.md
  docs/messaging/azure-web-pubsub-integration.md
  docs/security/azure-security-key-vault-integration.md
  docs/snippets/azure/AppHost/Program.ConfigureWebPubSubInfra.cs
  docs/snippets/azure/AppHost/Program.cs
  docs/snippets/azure/AppHost/aspire-manifest.json
  docs/snippets/azure/AppHost/web-pub-sub.module.bicep
  docs/snippets/azure/AppHost/web-pubsub.module.bicep
  docs/storage/includes/storage-app-host.md
Labels: messaging, okr-quality

#2844 Update messaging and storage tutorials
  docs/includes/vscode-file-new.md
  docs/messaging/media/vscode-add-project-reference.png
  docs/messaging/messaging-integrations.md
Labels: messaging, community-contribution

#2848 Fix error in Aspire service bus configuration section
  docs/messaging/azure-service-bus-integration.md
Labels: messaging

#2876 Fix build issue
  docs/messaging/messaging-integrations.md
Labels: messaging

#2881 Added link to Azure SQL and SQL Server samples
  docs/database/sql-server-integration.md
Labels: database, community-contribution

#2885 Update stackexchange-redis-distributed-caching-integration.md
  docs/caching/stackexchange-redis-distributed-caching-integration.md
Labels: caching, community-contribution

#2873 Add context to the EF Core overiew
  docs/database/entity-framework-core-integration-overview.md
  docs/database/media/ef-core-aspire-architecture-large.png
  docs/database/media/ef-core-aspire-architecture-thumb.png
  docs/database/media/ef-core-aspire-architecture.excalidraw
Labels: database, community-contribution

#2878 Add clarifying details about updates to `AddDatabase` APIs
  docs/database/includes/postgresql-app-host.md
  docs/database/includes/sql-app-host.md
Labels: database

#2896 Adding GitHub Copilot prompts
  .github/prompts/adhere-to-writing-style.prompt.md
  .github/prompts/rephrase-selected-text.prompt.md
  docs/get-started/aspire-overview.md
Labels: getting-started

#2875 Adding content for `WithHttpCommand`
  docs/fundamentals/custom-resource-commands.md
  docs/fundamentals/http-commands.md
  docs/fundamentals/media/custom-http-command-highlighted.png
  docs/fundamentals/media/custom-http-command-starting.png
  docs/fundamentals/media/custom-http-command-succeeded.png
  docs/fundamentals/media/custom-http-command.png
  docs/fundamentals/snippets/http-commands/AspireApp/AspireApp.Api/AppJsonContext.cs
  docs/fundamentals/snippets/http-commands/AspireApp/AspireApp.Api/AspireApp.Api.csproj
  docs/fundamentals/snippets/http-commands/AspireApp/AspireApp.Api/AspireApp.Api.http
  docs/fundamentals/snippets/http-commands/AspireApp/AspireApp.Api/ICacheService.cs
  docs/fundamentals/snippets/http-commands/AspireApp/AspireApp.Api/Product.cs
  docs/fundamentals/snippets/http-commands/AspireApp/AspireApp.Api/Products.cs
  docs/fundamentals/snippets/http-commands/AspireApp/AspireApp.Api/Program.cs
  docs/fundamentals/snippets/http-commands/AspireApp/AspireApp.Api/Properties/launchSettings.json
  docs/fundamentals/snippets/http-commands/AspireApp/AspireApp.Api/RedisCacheService.cs
  docs/fundamentals/snippets/http-commands/AspireApp/AspireApp.Api/appsettings.Development.json
  docs/fundamentals/snippets/http-commands/AspireApp/AspireApp.Api/appsettings.json
  docs/fundamentals/snippets/http-commands/AspireApp/AspireApp.AppHost/AspireApp.AppHost.csproj
  docs/fundamentals/snippets/http-commands/AspireApp/AspireApp.AppHost/Program.cs
  docs/fundamentals/snippets/http-commands/AspireApp/AspireApp.AppHost/Properties/launchSettings.json
  docs/fundamentals/snippets/http-commands/AspireApp/AspireApp.AppHost/appsettings.Development.json
  docs/fundamentals/snippets/http-commands/AspireApp/AspireApp.AppHost/appsettings.json
  docs/fundamentals/snippets/http-commands/AspireApp/AspireApp.sln
  docs/toc.yml
Labels: fundamentals

#2897 fix typos entity-framework-core-integration-overview
  docs/database/entity-framework-core-integration-overview.md
Labels: community-contribution

#2787 [New Article] Connect a .NET Aspire microservice to an external database
  docs/database/connect-to-existing-database.md
  docs/database/media/connect-to-existing-database/connect-ssms.png
  docs/database/media/connect-to-existing-database/console-log-create-table.png
  docs/database/media/connect-to-existing-database/dashboard-select-api-endpoint.png
  docs/database/media/connect-to-existing-database/scalar-text-get.png
  docs/toc.yml
Labels: database, community-contribution

#2712 Update Links of kafkaui
  docs/messaging/kafka-integration.md
Labels: messaging, okr-freshness, community-contribution
