Repository dotnet/docs-aspire, pull requests merged in 2025-02, with the labels that each got.

#2544 Fix the SQL Server with Entity Framework tutorial
  docs/database/snippets/tutorial/aspiresqlefcore/AspireSQLEFCore/Components/Pages/Home.razor
Labels: database, community-contribution

#2554 Fix Azurite container ports code example
  docs/storage/azure-storage-blobs-integration.md
  docs/storage/includes/storage-app-host.md
Labels: storage, community-contribution

#2552 Replace Azure Data Studio
  docs/database/includes/media/ads-connect-details.png
  docs/database/includes/media/ads-connected.png
  docs/database/includes/media/ads-new-connection.png
  docs/database/includes/media/mssql-vscode-add-connection.png
  docs/database/includes/media/mssql-vscode-connected.png
  docs/database/includes/media/mssql-vscode-connection-details.png
  docs/database/includes/sql-app-host.md
  docs/database/mysql-entity-framework-integration.md
  docs/database/mysql-integration.md
  docs/database/postgresql-entity-framework-integration.md
  docs/database/postgresql-integration.md
  docs/database/sql-server-entity-framework-integration.md
  docs/database/sql-server-integration.md
Labels: database, okr-freshness

#2365 Update Azure Service Bus integration doc
  docs/messaging/azure-service-bus-integration.md
  docs/snippets/azure/AppHost/Program.ConfigureServiceBusInfra.cs
Labels: messaging, okr-quality

#2615 Update postgresql-app-host.md
  docs/database/includes/postgresql-app-host.md
Labels: database, community-contribution

#2621 Add missing configuration
  docs/fundamentals/dashboard/configuration.md
Labels: fundamentals

#2555 Rewrite Azure Key Vault content
  docs/database/includes/postgresql-flexible-server.md
  docs/security/azure-security-key-vault-integration.md
  docs/snippets/azure/AppHost/Program.ConfigureKeyVaultInfra.cs
Labels: database, security, okr-freshness

#2635 Fix invalid file link warning
  docs/fundamentals/app-host-overview.md
Labels: fundamentals

#2643 Version-suffixed NuGet client integrations
  docs/database/mongodb-integration.md
  docs/messaging/rabbitmq-integration.md
Labels: database, messaging

#2650 Adds the NATS 9.1 API and fixes obsolete API.
  docs/messaging/nats-integration.md
Labels: messaging

#2654 Add docs for CosmosDB preview emulator
  docs/database/includes/cosmos-app-host.md
  docs/diagnostics/overview.md
Labels: database

#2638 .NET Aspire and GitHub Codespaces/Devcontainers
  docs/fundamentals/codespaces.md
  docs/fundamentals/devcontainers.md
  docs/fundamentals/media/building-codespace-image.png
  docs/fundamentals/media/codespace-launch-apphost.png
  docs/fundamentals/media/codespace-terminal.png
  docs/fundamentals/media/codespaces-debug-console.png
  docs/fundamentals/media/codespaces-explorer-panel.png
  docs/fundamentals/media/codespaces-translated-urls.png
  docs/fundamentals/media/create-codespace-from-repository.png
  docs/fundamentals/media/new-repository-from-template.png
Labels: fundamentals

#2656 Update CosmosDB, EventHubs, and ServiceBus for latest APIs.
  docs/database/includes/cosmos-app-host.md
  docs/messaging/azure-event-hubs-integration.md
  docs/messaging/azure-service-bus-integration.md
  docs/snippets/azure/AppHost/Program.cs
  docs/snippets/azure/AppHost/aspire-manifest.json
  docs/snippets/azure/AppHost/event-hubs.module.bicep
Labels: database, messaging

#2664 Remove-azure-features-from-devcontainer
  docs/get-started/github-codespaces.md
Labels: getting-started

#2661 Add CosmosDB container creation
  docs/database/includes/cosmos-app-host.md
Labels: database

#2662 Local-devcontainers
  docs/get-started/dev-containers.md
  docs/get-started/media/aspire-dashboard-in-devcontainer.png
  docs/get-started/media/browser-certificate-error.png
  docs/get-started/media/devcontainer-build-completed.png
  docs/get-started/media/reopen-in-container.png
  docs/get-started/media/vscode-run-button.png
Labels: getting-started

#2670 Tweak the wording of CosmosDB databases and containers
  docs/database/includes/cosmos-app-host.md
Labels: database

#2561 Update the breaking changes template versions
  .github/ISSUE_TEMPLATE/04-breaking-change.yml
Labels: ⚙️ repo-maintenance

#2675 Add several missing xrefs
  docs/azure/integrations-overview.md
  docs/messaging/azure-event-hubs-integration.md
  docs/messaging/azure-service-bus-integration.md
Labels: messaging

#2486 Add docs for new SQL Project extension feature to use a connection string
  docs/community-toolkit/hosting-sql-database-projects.md
Labels: community-contribution

#2698 Correctly state Cosmos DB client integration health checks coverage
  docs/database/azure-cosmos-db-entity-framework-integration.md
  docs/database/azure-cosmos-db-integration.md
Labels: database, okr-quality

#2704 Add more dependency version docs
  docs/fundamentals/integrations-overview.md
Labels: fundamentals
