Repository dotnet/docs-aspire, pull requests merged in 2025-01, with the labels that each got.

#2353 Improve exemplar description
  docs/fundamentals/dashboard/explore.md
Labels: fundamentals

#2349 Update hosting-sql-database-projects.md
  docs/community-toolkit/hosting-sql-database-projects.md
Labels: community-contribution

#2354 Update AuthorizationHandler.cs
  docs/authentication/snippets/AspireApp/AspireApp.Web/AuthorizationHandler.cs
Labels: okr-quality, okr-health

#2355 Orleans integration article rewrite
  docs/frameworks/orleans.md
  docs/frameworks/snippets/Orleans/OrleansAppHost/Program.cs
Labels: community-contribution

#2324 Rewrite of the Azure Cosmos DB articles
  docs/database/azure-cosmos-db-entity-framework-integration.md
  docs/database/azure-cosmos-db-integration.md
  docs/database/includes/cosmos-app-host.md
  docs/snippets/azure/AppHost/Program.ConfigureCosmosInfra.cs
Labels: database, okr-quality

#2367 Update Milvus integration doc
  docs/database/milvus-integration.md
Labels: database, community-contribution

#2364 Bump version of AZD
  docs/deployment/azure/aca-deployment-github-actions.md
Labels: deployment, okr-freshness

#2424 Qdrant integration rewrite
  docs/database/qdrant-integration.md
Labels: database, community-contribution

#2478 Oracle EF Core integration rewrite
  docs/database/oracle-entity-framework-integration.md
Labels: database, community-contribution

#2484 remove instructions to add the workflow manually
  docs/deployment/azure/aca-deployment-github-actions.md
Labels: deployment, community-contribution

#2377 overview page update branding / cleanup
  docs/get-started/aspire-overview.md
Labels: getting-started

#2491 Update init-workflow.md
  docs/deployment/azure/includes/init-workflow.md
Labels: deployment

#2431 Remove placeholder content
  docs/fundamentals/setup-tooling.md
Labels: fundamentals, okr-quality, okr-health

#2425 Add versioning considerations to integration overview
  docs/fundamentals/integrations-overview.md
Labels: fundamentals
